In [1]:
import asyncio
asyncio.set_event_loop_policy(asyncio.WindowsSelectorEventLoopPolicy())
import backtrader as bt
import pandas as pd
import numpy as np
import random
import pytz
import time
import os
from xbbg import blp
from datetime import datetime, timedelta
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
from ipywidgets import interact, Dropdown, HBox, VBox, Button, Output, Text, widgets
import sympy as sp
from sklearn.metrics import r2_score
from statsmodels.tsa.stattools import adfuller
import matplotlib.pyplot as plt
from IPython.display import display, clear_output
from IPython import get_ipython
import matplotlib.dates as mdates
from pydataquery import DataQuery
import re
import statsmodels.api as sm
from scipy.optimize import minimize
import scipy.stats as stats
import itertools
import warnings
from statsmodels.tsa.seasonal import seasonal_decompose
import yfinance as yf
import csv
import uuid
from concurrent.futures import ThreadPoolExecutor
import warnings
from multiprocess import Pool
import time
warnings.filterwarnings('ignore')

In [2]:
# #ER Code
# ####################################################

# all_start_date = str((datetime.now()-timedelta(days=13*365+1)).strftime("%Y-%m-%d"))

# labels = {
#         "LQD Funding Sprd": "DB(CDS,TRAC-X,EUROPEIBXTRS_USDLIG_3M,JPM_IMPLIEDFUNDING_MID)",
#         "HYG Funding Sprd": "DB(CDS,TRAC-X,EUROPEIBXTRS_USDHY_3M,JPM_IMPLIEDFUNDING_MID)",
#         "IEAC Funding Sprd": "DB(CDS,TRAC-X,EUROPEIBXTRS_EURIG_3M,JPM_IMPLIEDFUNDING_MID)",
#         "IHYG Funding Sprd": "DB(CDS,TRAC-X,EUROPEIBXTRS_EURHY_3M,JPM_IMPLIEDFUNDING_MID)",
#         "Fed Fund": "FF",
#         "ER CDX IG 5Y": "DB(CDS,TRAC-X,NAMERI100UNF05ONRUN,JPM_RETURN)",
#         "ER CDX IG 10Y": "DB(CDS,TRAC-X,NAMERI100UNF10ONRUN,JPM_RETURN)",
#         "ER CDX HY 5Y": "DB(CDS,TRAC-X,NAHY100UNF05ONRUN,JPM_RETURN)",
#         "ER CDX HY 10Y": "DB(CDS,TRAC-X,NAHY100UNF10ONRUN,JPM_RETURN)",
#         "ER CDX EM 5Y": "DB(NEO-UK,credit/cds/index/cdxEM-onrun/5y/JPM_RETURN)",
#         "ER ITRX MAIN 5Y": "DB(NEO-UK,credit/cds/index/itraxx-onrun/5y/JPM_UNFUNDED_INDEX)",
#         "ER ITRX MAIN 10Y": "DB(NEO-UK,credit/cds/index/itraxx-onrun/10y/JPM_UNFUNDED_INDEX)",
#         "ER ITRX XOVER 5Y": "DB(NEO-UK,credit/cds/index/itraxx_crossover-onrun/5y/JPM_UNFUNDED_INDEX)",
#         "ER ITRX SNRFIN 5Y": "DB(NEO-UK,credit/cds/index/itraxx_senfin-onrun/5y/JPM_UNFUNDED_INDEX)",
#         "ER ITRX SUBFIN 5Y": "DB(NEO-UK,credit/cds/index/itraxx_subfin-onrun/5y/JPM_UNFUNDED_INDEX)",
# }

# dq = DataQuery(
# client_id='jbAIMF2Tkp0JO3sc',
# client_secret='d7qfzgt55pddjs352sgxosFyI4t2eja07k7opbi6wg9oqjc1OjkdAksn1btmnugeMjchcx2vwTsJupw',
# )

# job = dq.create_job(expressions = list(labels.values()))
# dq.start_date = all_start_date
# var = job.execute()
# df = job.to_pivot_table()
# df = df.T
# df.index = pd.to_datetime(df.index, format='%Y%m%d').date
# df.index.name = 'Date'

# df.rename(columns={v:k for k, v in labels.items()},inplace=True)
# df.columns.name = None
# clear_output(wait=False)
# df = df.dropna(how='all')
# df = df.dropna(axis=1, how='all')

# dq = df.copy()

# end_date = dq.index[-1]
# ####################################### BBG Data Acquisition

# securities = ['HYG US Equity','EMB US Equity','LQD US Equity','VCIT US Equity',
#               'IEAC LN Equity','IHYG LN EQUITY', 'BKLN US EQUITY', 'IBCN GR EQUITY',
#               'IEI US Equity','IEF US Equity']

# fields1 = ['YAS_MOD_DUR']
# df = blp.bdh(tickers=securities, start_date = all_start_date, end_date = end_date, flds = fields1)
# df.columns = [item.split(' ')[0] + ' DUR' for item in securities]
# df1 = df.copy()

# #################################### Fixing Bad Data Point in YAS of IEI
# rolling_avg = df1['IEI DUR'].replace(0, np.nan).rolling(window=30, min_periods=1).mean()
# df1['IEI DUR'] = df1.apply(
#     lambda row: rolling_avg[row.name] if row['IEI DUR'] == 0.0 else row['IEI DUR'], axis=1
# )
# #################################### Fixing Bad Data Point in YAS of IEI

# securities = ['LT03TRUU INDEX','LT09TRUU INDEX','QW3I INDEX', 'LT03MD INDEX','LT09MD INDEX']
# fields = ['PX_LAST']
# df = blp.bdh(tickers=securities, start_date = all_start_date, end_date = end_date, flds = fields)
# df.columns = ['TR ' + item.split(' ')[0] for item in securities[:3]] + [item.split(' ')[0] + ' DUR' for item in securities[:2]]
# df1 = pd.concat([df,df1],axis=1)

# securities = ['HYG US Equity','EMB US Equity','LQD US Equity','VCIT US Equity','HYGH US Equity','LQDH US Equity',
#               'IEI US Equity','IEF US Equity', 'RSP US EQUITY', #'SPX INDEX',  'RTY INDEX',
#               'IBCN GR EQUITY',
#               'IEAC LN Equity','IHYG LN EQUITY', 'BKLN US EQUITY', 'IWM US EQUITY',
#               'GSCBHYEQ Index', 'GSCBIGEQ Index', 'SPY US EQUITY', 'EEM US EQUITY','IJH US EQUITY', 'UVXY US EQUITY',
#              ]

# fields = ['TOT_RETURN_INDEX_GROSS_DVDS']
# df = blp.bdh(tickers=securities, start_date = all_start_date, end_date = end_date, flds = fields)
# df.columns = ['TR ' + item.split(' ')[0] for item in securities] 
# df1 = pd.concat([df,df1],axis=1)

# securities = ['QW3I INDEX']
# fields = ['MODIFIED_DURATION']
# df = blp.bdh(tickers=securities, start_date = all_start_date, end_date = end_date, flds = fields)
# df.columns = [item.split(' ')[0] + ' DUR' for item in securities]
# df1 = pd.concat([df,df1],axis=1)

# # securities = ['SPXFP INDEX', 'RTYFPE INDEX','SX5EFSER Index']  ############## I want to calculate funding rate for spx, rty and sx5e separately
# # fields = ['PX_LAST']
# # df = blp.bdh(tickers=securities, start_date = all_start_date, end_date = end_date, flds = fields)
# # df.columns = ['ER SPX','ER RTY','ER SX5E']
# # df1 = pd.concat([df,df1],axis=1)

# securities = ['EURR002W Index']
# fields = ['PX_LAST']
# df = blp.bdh(tickers=securities, start_date = all_start_date, end_date = end_date, flds = fields)
# df.columns = ['ECB Rate']
# df1 = pd.concat([df,df1],axis=1)

# bbg = df1.copy()
# dq.index = pd.to_datetime(dq.index)
# dq.index = dq.index.date
# bbg.index = pd.to_datetime(bbg.index)
# bbg.index = bbg.index.date

# data = pd.concat([dq,bbg],axis=1)
# data = data.sort_index()

# df_funding = data[[col for col in data.columns if ('Funding Sprd' in col)]+['Fed Fund']+['ECB Rate']]

# if np.isnan(df_funding.loc[df_funding.index[-1],'Fed Fund']):
#     df_funding.loc[df_funding.index[-1],'Fed Fund'] = df_funding.loc[df_funding.index[-2],'Fed Fund']

# for col in df_funding:
#     if col.endswith('Sprd'):
#         if col.split(' ')[0] in ['HYG','LQD']:
#             df_funding[f'Net Long {col.replace(" Sprd","")}'] = (df_funding['Fed Fund'] + df_funding[f'{col}']/100) + 0.25/100
#             df_funding[f'Net Short {col.replace(" Sprd","")}'] = (df_funding['Fed Fund'] + df_funding[f'{col}']/100) - 0.25/100
#         if col.split(' ')[0] in ['IHYG','IEAC']:
#             df_funding[f'Net Long {col.replace(" Sprd","")}'] = (df_funding['ECB Rate'] + df_funding[f'{col}']/100) + 0.25/100
#             df_funding[f'Net Short {col.replace(" Sprd","")}'] = (df_funding['ECB Rate'] + df_funding[f'{col}']/100) - 0.25/100

# funding_copy_dict = {'VCIT': 'LQD', 'HYGH': 'HYG', 'LQDH': 'LQD'}
# for key, val in funding_copy_dict.items():
#     df_funding[f'Net Long {key} Funding'] = df_funding[f'Net Long {val} Funding']
#     df_funding[f'Net Short {key} Funding'] = df_funding[f'Net Short {val} Funding']

# for item in ['EMB','EEM']:
#     df_funding[f'Net Long {item} Funding'] = df_funding['Fed Fund'] + 0.5
#     df_funding[f'Net Short {item} Funding'] = df_funding['Fed Fund'] - 0.5

# for item in ['IEI', 'IEF', 'RSP', 'BKLN', 'GSCBHYEQ', 'GSCBIGEQ', 'SPX', 'RTY', 'SPY', 'IJH','IWM','UVXY']:
#     df_funding[f'Net Long {item} Funding'] = df_funding['Fed Fund'] + 0.15
#     df_funding[f'Net Short {item} Funding'] = df_funding['Fed Fund'] - 0.15

# for item in ['IBCN','SX5E','SX7E']:
#     df_funding[f'Net Long {item} Funding'] = df_funding['ECB Rate'] + 0.15
#     df_funding[f'Net Short {item} Funding'] = df_funding['ECB Rate'] - 0.15

# df_funding = df_funding[[col for col in df_funding.columns if col.startswith("Net")]]
# df_funding.index = pd.to_datetime(df_funding.index)
# df_funding = df_funding.resample('D').last()

# original_er_data = data[[col for col in data.columns if col.startswith("ER ")]]
# tr_data = data[[col for col in data.columns if col.startswith("TR ")]]
# ust = tr_data[['TR LT09TRUU']] # for using corr later
# tr_data = tr_data.iloc[:,:-3] #dropping LT03/09 and QW3I

# tr_data.index = pd.to_datetime(tr_data.index).date
# df_funding.index = pd.to_datetime(df_funding.index).date

# er_tr_data = pd.concat([tr_data,df_funding],axis=1)
# er_tr_data = er_tr_data.sort_index()
# # er_tr_data = er_tr_data.dropna()

# etfs = [col for col in er_tr_data.columns if col.startswith("TR ")]

# for item in etfs:
#     er_tr_data[item] = er_tr_data[item].diff()/er_tr_data[item].shift()

# er_tr_data['Date'] = pd.to_datetime(er_tr_data.index)
# er_tr_data['Days'] = (er_tr_data['Date'] - er_tr_data['Date'].shift()).dt.days
# # er_tr_data = er_tr_data.dropna()
# er_tr_data

# ############################################################### Funding Sprds
# funding = er_tr_data[[col for col in er_tr_data.columns if 'Funding' in col]].copy()
# x = er_tr_data[[col for col in er_tr_data.columns if 'Funding' in col]].copy()
# x = x.interpolate()
# x.to_excel("Funding Rates.xlsx")

# # y = x.copy()
# # y = round(y,2)
# # y.to_excel("Funding Rates 2.xlsx")

# ###############################################################
# for item in etfs:
#     name = item.split(' ')[1]
#     er_tr_data[f'ER {name}'] = er_tr_data[item] - \
#                 (1/100)*(er_tr_data['Days']/360)*(0.5*(er_tr_data[f'Net Long {name} Funding'] + er_tr_data[f'Net Short {name} Funding']))


# er_tr_data = er_tr_data[[col for col in er_tr_data.columns if col.startswith("ER ")]]
# er_tr_data = (1+er_tr_data).cumprod()

# tr_data.index = pd.to_datetime(tr_data.index).date
# df_funding.index = pd.to_datetime(df_funding.index).date

# er_tr_data = pd.concat([tr_data,df_funding],axis=1)
# er_tr_data = er_tr_data.sort_index()
# # er_tr_data = er_tr_data.dropna()

# etfs = [col for col in er_tr_data.columns if col.startswith("TR ")]

# for item in etfs:
#     er_tr_data[item] = er_tr_data[item].diff()/er_tr_data[item].shift()

# er_tr_data['Date'] = pd.to_datetime(er_tr_data.index)
# er_tr_data['Days'] = (er_tr_data['Date'] - er_tr_data['Date'].shift()).dt.days
# # er_tr_data = er_tr_data.dropna()

# for item in etfs:
#     name = item.split(' ')[1]
#     er_tr_data[f'ER {name}'] = er_tr_data[item] - \
#                 (1/100)*(er_tr_data['Days']/360)*(0.5*(er_tr_data[f'Net Long {name} Funding'] + er_tr_data[f'Net Short {name} Funding']))

# er_tr_data = er_tr_data[[col for col in er_tr_data.columns if col.startswith("ER ")]]
# er_tr_data = (1+er_tr_data).cumprod()

# er_data = pd.concat([original_er_data,er_tr_data],axis=1)
# # er_data = er_data.dropna()
# # er_data.columns = er_data.columns.str.replace("ER SPX","ER ESA").str.replace("ER RTY","ER RTYA").str.replace("ER SX5E","ER VGA")
# er_data.columns = er_data.columns.str.replace("ER GSCBHYEQ","ER HY Eqty").str.replace("ER GSCBIGEQ","ER IG Eqty")

# securities = ['SPXFP INDEX', 'RTYFPE INDEX','SX5EFSER Index','SX7EFSER Index']
# fields = ['PX_LAST']
# df = blp.bdh(tickers=securities, start_date = er_data.index[0], end_date = er_data.index[-1], flds = fields)
# df.columns = ['ER SPX','ER RTY','ER SX5E','ER SX7E']
# er_data = pd.concat([er_data,df], axis=1)
# er_data = er_data.sort_index()

# ##############################################################

# vix = blp.bdh(tickers=['SPVIX2ME Index','VIX INDEX','V2X Index'], flds='PX_LAST', start_date=er_data.index[0])
# vix.columns = ['ER SPVIX2ME','ER VIX','ER V2X']
# er_data = pd.concat([er_data, vix], axis=1).sort_index().dropna().copy()
# er_data.to_csv("All ER.csv")

In [3]:
# all_start_date = str((datetime.now()-timedelta(days=13*365+1)).strftime("%Y-%m-%d"))

# labels = {
#     "CDX IG 5Y": "DB(CDS,TRAC-X,NAMERI100UNF05ONRUN,JPM_DUR)",
#     "CDX IG 10Y": "DB(CDS,TRAC-X,NAMERI100UNF10ONRUN,JPM_DUR)",
#     "ITRX MAIN 5Y": "DB(NEO-UK,credit/cds/index/itraxx-onrun/5y/JPM_DUR)",
#     "ITRX MAIN 10Y": "DB(NEO-UK,credit/cds/index/itraxx-onrun/10y/JPM_DUR)",
#     "ITRX SNRFIN 5Y": "DB(NEO-UK,credit/cds/index/itraxx_senfin-onrun/5y/JPM_DUR)",
#     "ITRX SUBFIN 5Y": "DB(NEO-UK,credit/cds/index/itraxx_subfin-onrun/5y/JPM_DUR)",
#     "ITRX XOVER 5Y": "DB(NEO-UK,credit/cds/index/itraxx_crossover-onrun/5y/JPM_DUR)",
#     "ITRX XOVER 10Y": "DB(NEO-UK,credit/cds/index/itraxx_crossover-onrun/10y/JPM_DUR)"
# }

# dq = DataQuery(
# client_id='jbAIMF2Tkp0JO3sc',
# client_secret='d7qfzgt55pddjs352sgxosFyI4t2eja07k7opbi6wg9oqjc1OjkdAksn1btmnugeMjchcx2vwTsJupw',
# )

# job = dq.create_job(expressions = list(labels.values()))
# dq.start_date = all_start_date
# var = job.execute()
# df = job.to_pivot_table()
# df = df.T
# df.index = pd.to_datetime(df.index, format='%Y%m%d').date
# df.index.name = 'Date'

# df.rename(columns={v:k for k, v in labels.items()},inplace=True)
# df.columns.name = None
# clear_output(wait=False)
# df = df.dropna(how='all')
# df = df.dropna(axis=1, how='all')

# dur = df.copy()
# dur.to_excel("DQ Dur.xlsx")

In [4]:
# all_start_date = str((datetime.now()-timedelta(days=13*365+1)).strftime("%Y-%m-%d"))

# labels = {
#     "CDX IG 5Y": "DB(CDS,TRAC-X,NAMERI100UNF05ONRUN,JPM_CDSSPREAD_MID)",
#     "CDX IG 10Y": "DB(CDS,TRAC-X,NAMERI100UNF10ONRUN,JPM_CDSSPREAD_MID)",
#     "CDX HY 5Y": "DB(CDS,TRAC-X,NAHY100UNF05ONRUN,JPM_CLEAN_MID)",
#     "ITRX MAIN 5Y": "DB(NEO-UK,credit/cds/index/itraxx-onrun/5y/JPM_CDSSPREAD_MID)",
#     "ITRX MAIN 10Y": "DB(NEO-UK,credit/cds/index/itraxx-onrun/10y/JPM_CDSSPREAD_MID)",
#     "ITRX SNRFIN 5Y": "DB(NEO-UK,credit/cds/index/itraxx_senfin-onrun/5y/JPM_CDSSPREAD_MID)",
#     "ITRX SUBFIN 5Y": "DB(NEO-UK,credit/cds/index/itraxx_subfin-onrun/5y/JPM_CDSSPREAD_MID)",
#     "ITRX XOVER 5Y": "DB(NEO-UK,credit/cds/index/itraxx_crossover-onrun/5y/JPM_CDSSPREAD_MID)",
#     "ITRX XOVER 10Y": "DB(NEO-UK,credit/cds/index/itraxx_crossover-onrun/10y/JPM_CDSSPREAD_MID)",
#     "CDX EM 5Y": "DB(NEO-UK,credit/cds/index/cdxEM-onrun/5y/JPM_CLEAN_MID)",
# }

# dq = DataQuery(
# client_id='jbAIMF2Tkp0JO3sc',
# client_secret='d7qfzgt55pddjs352sgxosFyI4t2eja07k7opbi6wg9oqjc1OjkdAksn1btmnugeMjchcx2vwTsJupw',
# )

# job = dq.create_job(expressions = list(labels.values()))
# dq.start_date = all_start_date
# var = job.execute()
# df = job.to_pivot_table()
# df = df.T
# df.index = pd.to_datetime(df.index, format='%Y%m%d').date
# df.index.name = 'Date'

# df.rename(columns={v:k for k, v in labels.items()},inplace=True)
# df.columns.name = None
# clear_output(wait=False)
# df = df.dropna(how='all')
# df = df.dropna(axis=1, how='all')

# dur = df.copy()
# dur.to_excel("DQ Ref Levels_PX_Sprd.xlsx")

In [5]:
dict_map = {
    # product type, start time, end time, carry (%), trades on sprd, slippage (bps or $),
    # fixed commission, notional (if selected as Y; moved to model up look up!), BBG ticker
    'CDX IG 5Y': ['CDX', '07:45:00', '16:30:00', 1, 'Yes', 0.15, 300, "CDX IG CDSI GEN 5Y CORP"],
    'CDX IG 10Y': ['CDX', '07:45:00', '16:30:00', 1, 'Yes', 0.3, 300, "CDX IG CDSI GEN 10Y CORP"],
    'CDX HY 5Y': ['CDX', '07:45:00', '16:30:00', 5, 'No', 0.02, 300, "CDX HY CDSI GEN 5Y CORP"],
    'SPX': ['Eq', '09:30:00', '15:59:00', 0, 'No', 0.01, 0, "SPX INDEX"],
    'SPY': ['Eq', '09:30:00', '15:59:00', 0, 'No', 0.01, 0, "SPY US EQUITY"],
    'RSP': ['Eq', '09:30:00', '15:59:00', 0, 'No', 0.01, 0, "RSP US INDEX"],    
    'RTY': ['Eq', '09:30:00', '15:59:00', 0, 'No', 0.01, 0, "RTY INDEX"],
    'IG Eqty': ['Eq', '09:30:00', '15:59:00', 0, 'No', 0.01, 0, "GSCBIGEQ Index"],
    'HY Eqty': ['Eq', '09:30:00', '15:59:00', 0, 'No', 0.01, 0, "GSCBHYEQ Index"],
    'ITRX MAIN 5Y': ['CDX', '03:30:00', '11:59:00', 1, 'Yes', 0.15, 300, "ITRX EUR CDSI GEN 5Y CORP"],
    'ITRX XOVER 5Y': ['CDX', '03:30:00', '11:59:00', 5, 'Yes', 0.15, 300, "ITRX XOVER CDSI GEN 5Y CORP"],
    
    'VIX': ['Eq', '09:30:00', '15:59:00', 0, 'No', 0.01, 0, "VIX INDEX"],
    'V2X': ['Eq', '03:30:00', '11:59:00', 0, 'No', 0.01, 0, "V2X INDEX"],
    'UVXY': ['Eq', '09:30:00', '15:59:00', 0, 'No', 0.01, 0, "UVXY US EQUITY"],
    'SPVIX2ME': ['Eq', '09:30:00', '15:59:00', 0, 'No', 0.01, 0, "SPVIX2ME INDEX"],
    
    'SX5E': ['Eq', '03:30:00', '11:59:00', 0, 'No', 0.01, 0, "SX5E INDEX"],
    'SX7E': ['Eq', '03:30:00', '11:59:00', 0, 'No', 0.01, 0, "SX7E INDEX"],
    'ITRX SNRFIN 5Y': ['CDX', '03:30:00', '11:59:00', 1, 'Yes', 0.15, 300, "SNRFIN CDSI GEN 5Y CORP"],
    'ITRX SUBFIN 5Y': ['CDX', '03:30:00', '11:59:00', 1, 'Yes', 0.15, 300, "SUBFIN CDSI GEN 5Y CORP"],
    'CDX EM 5Y': ['CDX', '07:45:00', '16:30:00', 1, 'No', 0.02, 300, "CDX EM CDSI GEN 5Y CORP"],

    'HYG': ['Eq', '09:30:00', '15:59:00', 0, 'No', 0.01, 0, "HYG US EQUITY"],
    'HYGH': ['Eq', '09:30:00', '15:59:00', 0, 'No', 0.15, 0, "HYGH US EQUITY"],
    'EMB': ['Eq', '09:30:00', '15:59:00', 0, 'No', 0.01, 0, "EMB US EQUITY"],
    'EEM': ['Eq', '09:30:00', '15:59:00', 0, 'No', 0.01, 0, "EEM US EQUITY"],
    'VCIT': ['Eq', '09:30:00', '15:59:00', 0, 'No', 0.01, 0, "VCIT US EQUITY"],
    'LQD': ['Eq', '09:30:00', '15:59:00', 0, 'No', 0.01, 0, "LQD US EQUITY"],
    'LQDH': ['Eq', '09:30:00', '15:59:00', 0, 'No', 0.06, 0, "LQDH US EQUITY"],
    'IEI': ['Eq', '09:30:00', '15:59:00', 0, 'No', 0.01, 0, "IEI US EQUITY"],
    'IEF': ['Eq', '09:30:00', '15:59:00', 0, 'No', 0.01, 0, "IEF US EQUITY"],
    'IWM': ['Eq', '09:30:00', '15:59:00', 0, 'No', 0.01, 0, "IWM US EQUITY"],
    'IJH': ['Eq', '09:30:00', '15:59:00', 0, 'No', 0.01, 0, "IJH US EQUITY"],
}

# er_data = pd.read_csv("All ER.csv", index_col=0, parse_dates=True)
# er_data.columns = [item.split(" ",1)[1] for item in er_data.columns]

# # df_backup = pd.read_parquet("Clean 1min data.parquet")
# # df_backup = pd.read_parquet("Clean 1min data v2.parquet")
# # df_backup = pd.read_parquet("Clean 1min data v3.parquet")
# # df_backup = pd.read_parquet("Clean 1min data v4.parquet")
# df_backup = pd.read_parquet("Clean 1min data v5.parquet")

# ##################################################################

# bbg_tickers = [dict_map[item][7] for item in dict_map.keys()]
# reverse_dict = dict(zip(bbg_tickers, list(dict_map.keys())))
# bbg_data = blp.bdh(tickers = bbg_tickers, flds='px_last', start_date='2017-01-01')
# bbg_data.columns = bbg_tickers
# bbg_data.index = pd.to_datetime(bbg_data.index)
# bbg_data.columns = [reverse_dict[item] for item in bbg_data.columns]
# ref = pd.read_excel("DQ Ref Levels_PX_Sprd.xlsx", index_col=0, parse_dates=True)

# for col in ref.columns:
#     bbg_data[col] = ref[col]

# bbg_data1 = bbg_data.resample("1min").last().ffill().copy()
# bbg_data1.columns = [item +'_bbg_px' for item in bbg_data1.columns]

# bbg_data2 = bbg_data.shift().resample("1min").last().ffill().copy()
# bbg_data2.columns = [item +'_bbg_px_2' for item in bbg_data2.columns]

# ##################################################################

# dur = pd.read_excel("DQ Dur.xlsx",index_col=0, parse_dates=True)
# dur = dur.shift().resample("1min").last().ffill().copy()  ############ yesterday's duration we take .. we have shifted it here
# dur.columns = [item + '_dq_dur' for item in dur.columns]

# df = df_backup.copy()
# er = er_data.copy()
# er.columns = [item + '_dq_ER' for item in er.columns]
# er = er.resample("1min").last().ffill().copy()

# er2 = er_data.shift().copy()
# er2.columns = [item + '_dq_ER_2' for item in er2.columns]
# er2 = er2.resample("1min").last().ffill().copy()

# ##################################################################
# #### V. V. Imp: the dq close is as of 5PM and with bbg_data only till 4PM we don't really 'see' the BBG ER series match the DQ series

# intraday_tr_data = None

# for col in df.columns:
#     # col = "IEI"
#     if dict_map[col][4] == 'Yes':
#         x = pd.concat([df[[col]], er[[f'{col}_dq_ER']], er2[[f'{col}_dq_ER_2']], bbg_data1[[f'{col}_bbg_px']], bbg_data2[[f'{col}_bbg_px_2']],
#             dur[[f'{col}_dq_dur']]], axis=1).sort_index().dropna().copy()
#         x['TR Change'] = (x[f'{col}_dq_ER'] / x[f'{col}_dq_ER_2'] - 1)
#         x['d-o-d sprd pnl'] = (-1) * (x[f'{col}_dq_dur']) * (x[f'{col}_bbg_px'] - x[f'{col}_bbg_px_2']) * 10**(-4)
#         x['intraday sprd pnl'] = (-1) * (x[f'{col}_dq_dur']) * (x[col] - x[f'{col}_bbg_px_2']) * 10**(-4)
#         x['Calculated TR Change'] = x['TR Change'] - x['d-o-d sprd pnl'] + x['intraday sprd pnl']
#         x['Actual TR Series'] = (1 + x['Calculated TR Change']) * x[f'{col}_dq_ER_2']
#         x = x[['Actual TR Series']].copy()
#         x.columns = [col]
#     else:
#         x = pd.concat([df[[col]], er[[f'{col}_dq_ER']], er2[[f'{col}_dq_ER_2']], bbg_data1[[f'{col}_bbg_px']], bbg_data2[[f'{col}_bbg_px_2']],
#             ], axis=1).sort_index().dropna().copy()
#         x['TR Change'] = (x[f'{col}_dq_ER'] / x[f'{col}_dq_ER_2'] - 1)
#         if col in ["CDX HY 5Y", "CDX HY 10Y", "CDX EM 5Y"]:
#             x['d-o-d px pnl'] = (x[f'{col}_bbg_px'] - x[f'{col}_bbg_px_2']) * 10**(-2)
#             x['intraday px pnl'] = (x[col] - x[f'{col}_bbg_px_2']) * 10**(-2)
#         else:  ### it is an etf
#             x['d-o-d px pnl'] = (x[f'{col}_bbg_px']/ x[f'{col}_bbg_px_2'] - 1)
#             x['intraday px pnl'] = (x[col] / x[f'{col}_bbg_px_2'] - 1)
#         x['Calculated TR Change'] = x['TR Change'] - x['d-o-d px pnl'] + x['intraday px pnl']
#         x['Actual TR Series'] = (1 + x['Calculated TR Change']) * x[f'{col}_dq_ER_2']
#         x = x[['Actual TR Series']].copy()
#         x.columns = [col]
#     intraday_tr_data = pd.concat([intraday_tr_data, x], axis=1)

# # intraday_tr_data.to_parquet("1min ER series.parquet")
# # intraday_tr_data.to_parquet("1min ER series v2.parquet")
# # intraday_tr_data.to_parquet("1min ER series v3.parquet")
# # intraday_tr_data.to_parquet("1min ER series v4.parquet")
# intraday_tr_data.to_parquet("1min ER series v5.parquet")

In [6]:
# t = time.time()
# # bbg_px = pd.read_excel("10min data with EUv11.xlsx", index_col=0, parse_dates=True)
# p = pd.read_excel("HYGH and LQDH.xlsx", index_col=0, parse_dates=True)
# p = p.resample("1min").last().ffill().resample("10min", offset="5min").last().ffill()
# p = p[p.index.isin(bbg_px.index)]
# b2 = pd.concat([bbg_px, p], axis=1).sort_index()
# b2.to_excel("10min data with EUv12.xlsx")

# # display(time.time()-t)

In [7]:
models_list = [ 
    # model_Y, model_X (specify as a list) ### We trade these
    # zscore_Y, zscore_X (specify as a list) ### We use these only for generating the zscore; names are taken from BBG datafile

    ['CDX HY 5Y', ['HYGH'], 'CDX HY 5Y', ['HYGH'], 7*10**6],
    # ['CDX HY 5Y', ['HYG','IEI'], 'CDX HY 5Y', ['HYG','IEI'], 7*10**6],
    # ['CDX EM 5Y', ['EMB','IEF'], 'CDX EM 5Y', ['EMB','IEF'], 9*10**6],
    # ['CDX IG 5Y', ['VCIT','IEF'], 'CDX IG 5Y', ['VCIT','IEF'], 25*10**6],
    
    # ['CDX IG 10Y', ['LQD','IEF'], 'CDX IG 10Y', ['LQD','IEF'], 14*10**6],
    # ['CDX IG 5Y', ['SPX'],'CDX IG 5Y', ['SPX'],28*10**6],
    # ['CDX IG 5Y', ['RSP'],'CDX IG 5Y', ['RSP'],28*10**6],
    # ['CDX IG 5Y', ['IWM'],'CDX IG 5Y', ['IWM'],28*10**6],
    # ['CDX IG 5Y', ['IJH'],'CDX IG 5Y', ['IJH'],28*10**6],
    # # ['CDX IG 5Y', ['IG Eqty'],'CDX IG 5Y', ['IG Eqty'],28*10**6],
    # ['CDX IG 5Y', ['VIX'], 'CDX IG 5Y', ['VIX'], 19*10**6],
    # ['CDX IG 5Y', ['SPVIX2ME'], 'CDX IG 5Y', ['SPVIX2ME'], 19*10**6],
    
    # ['CDX HY 5Y', ['SPX'],'CDX HY 5Y', ['SPX'],6*10**6],
    # # ['CDX HY 5Y', ['RTY'],'CDX HY 5Y', ['RTY'],6*10**6],
    # # ['CDX HY 5Y', ['RSP'],'CDX HY 5Y', ['RSP'],6*10**6],
    # ['CDX HY 5Y', ['IWM'],'CDX HY 5Y', ['IWM'],6*10**6],
    # ['CDX HY 5Y', ['IJH'],'CDX HY 5Y', ['IJH'],6*10**6],
    # # ['CDX HY 5Y', ['HY Eqty'],'CDX HY 5Y', ['HY Eqty'],6*10**6],
    
    # # ['ITRX MAIN 5Y', ['SX5E'],'ITRX MAIN 5Y', ['SX5E'], 28*10**6],
    # ['ITRX MAIN 5Y', ['SX5E'],'ITRX MAIN 5Y', ['SX5E'], 28*10**6],
    # ['ITRX MAIN 5Y', ['SX5E'],'ITRX MAIN 5Y', ['SX5E','V2X'], 28*10**6],
    # ['ITRX SNRFIN 5Y', ['SX7E'],'ITRX SNRFIN 5Y', ['SX7E'], 28*10**6],
    # # ['ITRX XOVER 5Y', ['SX5E'],'ITRX XOVER 5Y', ['SX5E'], 6*10**6],
    # # ['ITRX XOVER 5Y', ['SPX'],'ITRX XOVER 5Y', ['SPX'], 6*10**6],
    # # ['CDX IG 5Y', ['ITRX MAIN 5Y'],'CDX IG 5Y', ['ITRX MAIN 5Y'], 50*10**6],
    
    # # ['CDX HY 5Y', ['ITRX XOVER 5Y'],'CDX HY 5Y', ['ITRX XOVER 5Y'], 8*10**6],
    # # ['ITRX MAIN 5Y', ['ITRX XOVER 5Y'],'ITRX MAIN 5Y', ['ITRX XOVER 5Y'], 66*10**6],
    # # ['CDX IG 5Y', ['CDX HY 5Y'],'CDX IG 5Y', ['CDX HY 5Y'], 74*10**6],
    
    # # ['CDX IG 5Y', ['CDX EM 5Y'],'CDX IG 5Y', ['CDX EM 5Y'], 22*10**6],
    # # ['CDX EM 5Y', ['CDX HY 5Y'],'CDX EM 5Y', ['CDX HY 5Y'], 8*10**6],
    # # ['ITRX MAIN 5Y', ['CDX EM 5Y'],'ITRX MAIN 5Y', ['CDX EM 5Y'], 22*10**6],
    # # ['CDX EM 5Y', ['ITRX XOVER 5Y'],'CDX EM 5Y', ['ITRX XOVER 5Y'], 6*10**6],

    # # ['CDX IG 5Y', ['SPY'],'CDX IG 5Y', ['SPY'],28*10**6],
    # # ['CDX HY 5Y', ['SPY'],'CDX HY 5Y', ['SPY'],6*10**6],
    
    # # ['EEM', ['EMB'], 'EEM', ['EMB'], 1*10**6],
    # # ['CDX EM 5Y', ['EEM'], 'CDX EM 5Y', ['EEM'], 6*10**6],
    
]

z_score_method = 'PX'
# for z_score_method in ['PX','Rtn']:
for diff_period_list in [[1,2,3], [1], [2], [3], [4], [6], [8], [12]]:
    
    dict_models = {
        1 : ["Intraday",252,252,'A (Intraday; 12M)'],
        # 2 : ["Intraday",315,315,'B (Intraday; 15M)'],
        # 3 : ["Intraday",378,378,'C (Intraday; 18M)'],
        # 4 : ["Intraday",504,504,'D (Intraday; 24M)'],
    }
    
    sampling_freq = '10min'
    
    for global_model in models_list:
        for model_num in list(dict_models.keys()):
            for trade_btdf_direction in ['Long','Short','Long/Short']:
                for info in ['$pnl','$pnl/trade','SR','Hit Ratio','trades','days/trade','max DD']:
                    globals()[f'{global_model}_{model_num}_{trade_btdf_direction}_{info}'] = pd.DataFrame()
                    globals()[f'{global_model}_{model_num}_{trade_btdf_direction}_{info}'].index.name = 'Entry'
                    globals()[f'{global_model}_{model_num}_{trade_btdf_direction}_{info}'].columns.name = info
    
    fund_rates = pd.read_excel("Funding Rates.xlsx")
    fund_rates.columns = ['Date'] + list(fund_rates.columns)[1:]
    fund_rates['Date'] = pd.to_datetime(fund_rates['Date'])
    fund_rates = fund_rates.set_index('Date')
    fund_rates.columns = fund_rates.columns.str.replace("GSCB","").str.replace("EQ "," Eqty ").str.replace(" Funding","").str.replace("Net ","")
    etfs = list(set([item.split(" ",1)[1] for item in fund_rates.columns]))
    
    def apply_funding(df_funding_update, variable_item):
        if f'Long {variable_item}' in fund_rates.columns:
            rate = fund_rates[[f'Long {variable_item}',f'Short {variable_item}']].dropna().resample("1min").last().bfill().copy()
            df_funding_update = pd.concat([df_funding_update, rate],axis=1)
            df_funding_update = df_funding_update.dropna()
            df_funding_update.columns = list(df_funding_update.columns)[:-2] + ['Long_Funding','Short_Funding']
            df_funding_update['T'] = df_funding_update.index.date
            df_funding_update['T-1'] = [np.nan] + list(df_funding_update.index[:-1].date)
            df_funding_update['Funding_Date'] = df_funding_update.apply(lambda row: 'New Day' if row['T'] != row['T-1'] else 'Same Day', axis=1)
            df_funding_update['Long_Funding'] = df_funding_update.apply(lambda row: row["Long_Funding"] if row["Funding_Date"] == "New Day" else 0,axis=1)
            df_funding_update['Short_Funding'] = df_funding_update.apply(lambda row: row["Short_Funding"] if row["Funding_Date"] == "New Day" else 0,axis=1)
            df_funding_update = df_funding_update.drop(['Funding_Date'],axis=1)
            # df_funding_update['Funding'] = 0.5*(df_funding_update['Long_Funding'] + df_funding_update['Short_Funding'])
            df_funding_update['T-1'] = [item.date() for item in pd.to_datetime(df_funding_update['T-1'])]
            df_funding_update['T-1'].iloc[0] = df_funding_update['T'].iloc[0]
            df_funding_update['Long Funding P/L'] = [item.days for item in (df_funding_update['T'] - df_funding_update['T-1'])]
            df_funding_update['Long Funding P/L'] *= (df_funding_update['Long_Funding'] / 100) * (1/360) * abs(df_funding_update['Notional'])
            df_funding_update['Short Funding P/L'] = [item.days for item in (df_funding_update['T'] - df_funding_update['T-1'])]
            df_funding_update['Short Funding P/L'] *= (df_funding_update['Short_Funding'] / 100) * (1/360) * abs(df_funding_update['Notional'])
            df_funding_update = df_funding_update.drop(['T','T-1','Long_Funding','Short_Funding'],axis=1)
        else:
            df_funding_update['Long Funding P/L'] = [0.0] * len(df_funding_update)
            df_funding_update['Short Funding P/L'] = [0.0] * len(df_funding_update)
    
        return df_funding_update.copy()
    
    # bbg_px = pd.read_excel("10min data with EUv10.xlsx", index_col=0, parse_dates=True)
    # bbg_px = pd.read_excel("10min data with EUv11.xlsx", index_col=0, parse_dates=True)
    bbg_px = pd.read_excel("10min data with EUv12.xlsx", index_col=0, parse_dates=True)
    
    if z_score_method == "PX":
        zscore_calc_df = bbg_px.copy()
    elif z_score_method == "Rtn":
        # zscore_calc_df = pd.read_parquet("1min ER series v3.parquet")   
        # zscore_calc_df = pd.read_parquet("1min ER series v4.parquet")  
        zscore_calc_df = pd.read_parquet("1min ER series v5.parquet")  
        # zscore_calc_df = pd.read_parquet("Intraday 1min ER series.parquet")
    
    for global_model in models_list:
        for model_num in list(dict_models.keys()):  
    
            # global_model = models_list[0]
            # model_num = list(dict_models.keys())[0]
            
            model_Y = global_model[0]
            model_X = global_model[1]
            zscore_Y = global_model[2]
            zscore_X = global_model[3]
            backtest_start_date = pd.to_datetime('2017-03-01')
            notional_to_use = global_model[4]
            
            zscore_vars = [model_Y, zscore_Y] + model_X + zscore_X
            
            zscore_vars = list(set(zscore_vars))
            zscore_vars_start_time = max([dict_map[item][1] for item in zscore_vars])
            zscore_vars_end_time = min([dict_map[item][2] for item in zscore_vars])
            
            ################################## Beta Calculation
            if len(model_X) == 1:
                er_Y = f'ER {model_Y}'
                er_X = f'ER {model_X[0]}'
                er_data = pd.read_csv("All ER.csv")
                er_data.columns = ['Date'] + list(er_data.columns)[1:]
                er_data['Date'] = pd.to_datetime(er_data['Date'])
                er_data = er_data.set_index('Date')
                er_data = er_data.sort_index()
                beta = er_data[[er_Y, er_X]].dropna()
                beta = beta.resample('W').last()
                beta = np.log(beta)
                beta = beta.diff().dropna()
                beta['Beta1'] = [np.nan] * len(beta)
                beta['Beta2'] = [np.nan] * len(beta)
                
                for i in range(len(beta)-24+1):
                    reg_X = beta[er_X].iloc[i:i+24]
                    reg_Y = beta[er_Y].iloc[i:i+24]
                    model = sm.OLS(reg_Y, sm.add_constant(reg_X)).fit() 
                    beta.iloc[i+23,2] = model.params.iloc[1]
                
                    model = sm.OLS(reg_X, sm.add_constant(reg_Y)).fit() 
                    beta.iloc[i+23,3] = model.params.iloc[1]
                
                beta['Beta1'] = beta['Beta1'].rolling(104).mean()
                beta['Beta2'] = beta['Beta2'].rolling(104).mean()
                beta['Beta'] = 0.5*(beta['Beta1'] + 1/ beta['Beta2'])
                beta = beta[['Beta']].dropna()
                # beta = pd.read_excel("igspx_beta_1ymodel.xlsx", index_col=0, parse_dates=True)
            
            else:
                
                b1 = pd.read_csv("All Basis Trade Betas.csv")
                b1.columns = ['Date'] + list(b1.columns)[1:]
                b1 = b1.set_index('Date')
                beta = b1[[f'{model_Y}_{model_X[0]}_{model_X[1]}']]
                beta.columns = ['Beta']
                beta['Coef1'] = beta['Beta'].apply(lambda x: eval(x)[0])
                beta['Coef2'] = beta['Beta'].apply(lambda x: eval(x)[1])
                beta.index = pd.to_datetime(beta.index)
                
            beta = beta.resample("1min").first().ffill()
            
            ################################## BBG DataFile Intraday
            # df = pd.read_excel("10min data with EUv7.xlsx")
            # df['Date'] = pd.to_datetime(df['Date'])
            # df = df.set_index('Date')
            # df = df.sort_index()
            df = zscore_calc_df.copy()
            
            zscore_df = df[zscore_vars].between_time(zscore_vars_start_time, zscore_vars_end_time).dropna().copy()
            zscore_df = zscore_df.resample("10min",offset="5min").last().dropna().copy()
            zscore_df = zscore_df.between_time(zscore_vars_start_time, zscore_vars_end_time).dropna().copy()
            bbg_datafile = zscore_df.copy()
            
            sampling_multiplier = len(set(list(bbg_datafile.index.time)))
            
            ################################## ZScore Calculation Start : Convert Sprd to PX series
            
            df = pd.read_excel("All DQ Duration.xlsx")
            df['Date'] = pd.to_datetime(df['Date'])
            df = df.set_index('Date')
            df = df.sort_index()
            df.columns = df.columns.str.replace(" Dur","")
            df = df.resample("1min").first().ffill().dropna()
            dq_dur = df.copy()
            
            zscore_df1 = zscore_df.copy()
    
            if z_score_method == "PX":
                for col in zscore_df1.columns:
                    if col in dq_dur.columns:
                        zscore_df1[f'{col} Dur'] = dq_dur[col]
                        zscore_df1[f'{col} Dur'] = zscore_df1[f'{col} Dur'].shift(1)
                        zscore_df1[f'Diff {col}'] = zscore_df1[col].diff()
                        zscore_df1 = zscore_df1.dropna()
                        zscore_df1[f'{col} Daily PX Change'] = -1 * zscore_df1[f'Diff {col}'] * zscore_df1[f'{col} Dur'] *10**(-4)
                        zscore_df1[f'{col} Sum PX'] = zscore_df1[f'{col} Daily PX Change'].cumsum()
                        zscore_df1[col] = zscore_df1[f'{col} Sum PX']
                        zscore_df1 = zscore_df1[zscore_df.columns].copy()
            
            ################################## ZScore Calculation: Differencing and converting to ZScores
            
            zscore_df = zscore_df1[zscore_df1.index >= backtest_start_date].copy()
            
            col_list = zscore_df.columns
            for period in diff_period_list:
                for col in col_list:
                    zscore_df[f'{col}_{period}W'] = zscore_df[col].diff(sampling_multiplier*5*period)
                    # zscore_df[f'{col}_{period}W'] = zscore_df[col].diff(sampling_multiplier*period)  ##### Daily
            
            model_lookback = sampling_multiplier*dict_models[model_num][1]
            model_lookback_res = sampling_multiplier*dict_models[model_num][2]
            zscore_df = zscore_df.dropna().copy()
            zscore_df2 = zscore_df.copy()
    
            for period in diff_period_list:
                for i in range(len(zscore_df) - model_lookback + 1):
            
                    reg_Y = zscore_df[[f'{zscore_Y}_{period}W']].iloc[i:i+model_lookback]
                    reg_X = zscore_df[[item + f"_{period}W" for item in zscore_X]].iloc[i:i+model_lookback]
    
                    model = sm.OLS(reg_Y,sm.add_constant(reg_X)).fit()
                    x = (model.resid - model.resid.rolling(model_lookback_res).mean())/model.resid.rolling(model_lookback_res).std()
                    zscore_df.loc[zscore_df.index[i+model_lookback-1],f'{period}W_ZScore'] = x.iloc[-1]
    
            zscore_df['Avg. ZScore'] = zscore_df[[col for col in zscore_df.columns if col.endswith("_ZScore")]].mean(axis=1)
            zscore_df = zscore_df[['Avg. ZScore']]
            bt_df = pd.concat([bbg_datafile[[model_Y] + model_X],zscore_df],axis=1).dropna()   
            
            #############################################
    
            if z_score_method == "Rtn":
                bbg_data = bbg_px.copy()
                bbg_data = bbg_data[[model_Y] + model_X].dropna().copy()
                bbg_data = bbg_data.resample("10min", offset="5min").last().ffill().copy()
                bbg_data = bbg_data[bbg_data.index.isin(bt_df.index)]
                for col in bbg_data.columns:
                    bt_df[col] = bbg_data[col]
                
            ############################# If dur > 0 => trades on sprd ; if dur = 0 => cdx trades on px ; if dur = -1 => eq. product trades on px
            for col in bt_df.columns:
                if col != "Avg. ZScore":
                    if col in dq_dur.columns:
                        bt_df[f'{col} Dur'] = dq_dur[dq_dur.index.isin(bt_df.index)][col]
                    elif dict_map[col][0] == 'CDX':
                        bt_df[f'{col} Dur'] = [0.0] * len(bt_df)
                    elif dict_map[col][0] == 'Eq':
                        bt_df[f'{col} Dur'] = [-1.0] * len(bt_df)
            bt_df['volume'] = [0.0] * len(bt_df)
            
            bt_df = bt_df[bt_df.index >= pd.to_datetime("2021-07-01")].dropna()
            bt_df = bt_df[bt_df.index <= pd.to_datetime("2025-04-26")].dropna()
            
            ############################# Backtrader dfs
            bt_df = pd.concat([bt_df,beta],axis=1).dropna()
            bt_df.columns = bt_df.columns.str.replace("Beta","Notional")
            
            if len(model_X) == 1:
                dfy = bt_df[[model_Y,f'{model_Y} Dur','Avg. ZScore','Notional','volume']].dropna().copy()
                dfy.columns = dfy.columns.str.replace("Avg. ZScore","Signal").str.replace(f'{model_Y} Dur','Dur').str.replace(model_Y,"close")
                dfy['Notional'] = notional_to_use
                
                dfx = bt_df[[model_X[0],f'{model_X[0]} Dur','Avg. ZScore','Notional','volume']].dropna().copy()
                dfx.columns = dfx.columns.str.replace("Avg. ZScore","Signal").str.replace(f'{model_X[0]} Dur','Dur').str.replace(model_X[0],"close")
                dfx['Notional'] *= notional_to_use
                dfx['Signal'] *= -1    
            
                dfy = apply_funding(dfy.copy(), model_Y)
                dfx = apply_funding(dfx.copy(), model_X[0])
            
            if len(model_X) == 2:
                
                dfy = bt_df[[model_Y,f'{model_Y} Dur','Avg. ZScore','Notional','volume']].dropna().copy()
                dfy.columns = dfy.columns.str.replace("Avg. ZScore","Signal").str.replace(f'{model_Y} Dur','Dur').str.replace(model_Y,"close")
                dfy['Notional'] = notional_to_use
                
                dfx = bt_df[[model_X[0],f'{model_X[0]} Dur','Avg. ZScore','Notional','volume']].dropna().copy()
                dfx.columns = dfx.columns.str.replace("Avg. ZScore","Signal").str.replace(f'{model_X[0]} Dur','Dur').str.replace(model_X[0],"close")
                dfx['Notional'] = notional_to_use * bt_df['Coef1']
                dfx['Signal'] *= -1   ############################ in basis only hyg px we sell when we buy the residuals so only this will be inverted
                
                dfx1 = bt_df[[model_X[1],f'{model_X[1]} Dur','Avg. ZScore','Notional','volume']].dropna().copy()
                dfx1.columns = dfx1.columns.str.replace("Avg. ZScore","Signal").str.replace(f'{model_X[1]} Dur','Dur').str.replace(model_X[1],"close")
                dfx1['Notional'] = notional_to_use * bt_df['Coef2']
            
                dfy = apply_funding(dfy.copy(), model_Y)
                dfx = apply_funding(dfx.copy(), model_X[0])
                dfx1 = apply_funding(dfx1.copy(), model_X[1])
            
            
            class MyData(bt.feeds.PandasData):
                lines = ('signal', 'notional', 'dur', 'long_funding', 'short_funding')
                params = (('signal', 'Signal'), ('notional', 'Notional'), 
                          ('dur', 'Dur'), ('long_funding', 'Long Funding P/L'), ('short_funding', 'Short Funding P/L'))
            
            class FixedComm(bt.CommInfoBase):
                params = (('commission', 0), ('stocklike', True), ('commtype', bt.CommInfoBase.COMM_FIXED),)
                def _getcommission(self, size, price, pseudoexec):
                    return self.p.commission
            
            class TStrategy(bt.Strategy):
                params = dict(cheat_on_close=True, entry_zscore = 0, exit_zscore = 0, carry = 0, product = 'Untitled')
                
                def __init__(self):
                    self.portfolio_values = []
                    self.entry_date = None
                    self.daily_pnl = []
                    self.roll_trades = []
                    self.carry = []
                    self.roll_carry = []
                    
                    self.funding = []
                    self.funding_carry = []
                    self.funding_direction = None
                    self.entry_bar_funding = None
                    
                    self.trade_direction = []
                    
                    self.scatter_plot_trade_pnl = []
                    self.scatter_plot_trade_init_len = None
                    
                    self.carry_direction = 0
                    self.logs = []
            
                def log(self, txt):
                    dt = self.datas[0].datetime.datetime(0)
                    print(f'{dt} - {txt}')
                    self.logs.append([dt.isoformat(), txt])
            
                def notify_trade(self, trade):            
                    if trade.isclosed:            
                        current_date = self.datas[0].datetime.datetime(-1)
                        
                        self.trade_direction.append((current_date, self.funding_direction if self.p.product == model_Y else None)) 
                        #### Y determines the long/short direction
                        
                        
                        ######################################## Calculating carry for all trades
                        self.daily_pnl.append((current_date, trade.pnlcomm))
            
                        if self.carry_direction > 0 : 
                            self.carry.append((current_date, (current_date.date()-self.entry_date.\
                                                              date()).days*(1/360)*self.p.carry*(1/100)*self.datas[0].notional[0]))
                        elif self.carry_direction < 0 :
                            self.carry.append((current_date, -1*(current_date.date()-self.entry_date.\
                                                             date()).days*(1/360)*self.p.carry*(1/100)*self.datas[0].notional[0]))
                        
                        ######################################## Calculating funding for all trades
                        bars_active = len(self) - self.entry_bar_funding - 1
                        
                        if self.funding_direction == "Long":
                            values = [self.datas[0].long_funding[-i] for i in range(bars_active)]
                            rolling_sum = -1*sum(values)  ############ We pay the long funding
                        
                        elif self.funding_direction == "Short":
                            values = [self.datas[0].short_funding[-i] for i in range(bars_active)]
                            rolling_sum = sum(values)  ############ We earn the short funding
                            
                        self.funding.append((current_date, rolling_sum))
            
                        
                        p1 = [datetime(current_date.year, 3, 20), datetime(current_date.year, 3, 30)]
                        p2 = [datetime(current_date.year, 9, 20), datetime(current_date.year, 9, 30)]
                        p3 = [datetime(current_date.year+1, 3, 20), datetime(current_date.year+1, 3, 30)]
                        p4 = [datetime(current_date.year-1, 9, 20), datetime(current_date.year-1, 9, 30)]
                        periods = [p1, p2, p3, p4]
                        
                        ######################################## Calculating carry for roll trades separately
                        
                        for i in range(len(periods)):
                            p = periods[i]
                            if ((self.entry_date <= p[1]) and (p[0] <= current_date)):
                                self.roll_trades.append((current_date, trade.pnlcomm))
                                if self.carry_direction > 0:
                                    self.roll_carry.append((current_date, (current_date.date()-self.entry_date.\
                                                                   date()).days*(1/360)*self.p.carry*(1/100)*self.datas[0].notional[0]))
                                elif self.carry_direction < 0:
                                    self.roll_carry.append((current_date, -1*(current_date.date()-self.entry_date.\
                                                                  date()).days*(1/360)*self.p.carry*(1/100)*self.datas[0].notional[0]))
            
                                self.funding_carry.append((current_date, rolling_sum))
                                
                                break
                        
                        ################################################# All trades
                        
                        # self.log(f'Gross P/L: {trade.pnl:.2f}, Net P/L: {trade.pnlcomm:.2f}, Funding P/L: {rolling_sum:.2f}')        
                        self.carry_direction = 0
            
                # def notify_order(self, order):
                #     if order.status in [order.Completed]:
                #         if order.isbuy():
                #             self.log(f'BUY EXECUTED, PX: {order.executed.price:.4f}, Qty: {order.executed.size:.2f}, Comm: {order.executed.comm}')
                #         else:
                #             self.log(f'SELL EXECUTED, PX: {order.executed.price:.4f}, Qty: {order.executed.size:.2f}, Comm: {order.executed.comm}')
            
                def next(self):
                    self.broker.set_coc(self.p.cheat_on_close)
                    # val = None
                    self.portfolio_values.append((self.datas[0].datetime.datetime(0), self.broker.getvalue()))
                    
                    z = self.datas[0].signal[0]
                    px = self.datas[0].close[0]        
                    pos = self.getposition(self.datas[0]).size
            
                    # self.log(f'PX: {px}, ZScore: {z:.3f}, Notional: {self.datas[0].notional[0]:.0f}, Dur: {self.datas[0].dur[0]:.4f} '
                    #          f'Pos: {pos:.2f}, Long Funding $: {self.datas[0].long_funding[0]:.2f}, Short Funding $: {self.datas[0].short_funding[0]:.2f} '
                    #          f'Eqty (000): {(self.broker.getvalue()-1e12)*10**(-3):.2f}')
                    
                    if pos == 0:                
                        if z < -self.p.entry_zscore:
                            self.scatter_plot_trade_init_len = len(self)
                            self.entry_date = self.datas[0].datetime.datetime(0)
            
                            if self.datas[0].dur[0] == -1:
                                self.buy(data = self.data, size = self.datas[0].notional[0]/px)
                            elif self.datas[0].dur[0] == 0.0:
                                self.buy(data=self.datas[0], size = (self.datas[0].notional[0] / 100))
                            elif self.datas[0].dur[0] > 0.0:
                                self.sell(data=self.data, size = (self.datas[0].notional[0])*10**(-4)*self.datas[0].dur[0])
            
                            self.carry_direction = 1
                            self.entry_bar_funding = len(self)
                            self.funding_direction = "Long"
            
                        elif z > self.p.entry_zscore:
                            self.scatter_plot_trade_init_len = len(self)
                            self.entry_date = self.datas[0].datetime.datetime(0)
            
                            if self.datas[0].dur[0] == -1:
                                self.sell(data = self.data, size = self.datas[0].notional[0]/px)
                            elif self.datas[0].dur[0] == 0.0:
                                self.sell(data=self.datas[0], size = (self.datas[0].notional[0] / 100))
                            elif self.datas[0].dur[0] > 0.0:
                                self.buy(data=self.data, size = (self.datas[0].notional[0])*10**(-4)*self.datas[0].dur[0])
            
                            self.carry_direction = -1
                            self.entry_bar_funding = len(self)
                            self.funding_direction = "Short"
                            
                    else:
                            if self.datas[0].dur[0] <= 0.0: ######## Equity & CDX HY
                                if ((pos > 0 and z > -self.p.exit_zscore) or (pos < 0 and z < self.p.exit_zscore)):
                                    self.close(data=self.datas[0])
                                    self.scatter_plot_trade_pnl.append((self.datas[0].datetime.\
                                                        datetime(0), len(self) - self.scatter_plot_trade_init_len))
                            
                            elif self.datas[0].dur[0] > 0.0: ######## CDX IG
                                if ((pos < 0 and z > -self.p.exit_zscore) or (pos > 0 and z < self.p.exit_zscore)):
                                    self.close(data=self.datas[0])
                                    self.scatter_plot_trade_pnl.append((self.datas[0].datetime.\
                                                        datetime(0), len(self) - self.scatter_plot_trade_init_len))
            
            
                # def stop(self):
                #     # with open(f'{self.p.product}.csv', 'w', newline='') as f:
                #     with open(f'backtrader_log_{str(datetime.now().time()).replace(":","_")}.csv', 'w', newline='') as f:
                #         writer = csv.writer(f)
                #         writer.writerow(['Date','Message'])
                #         writer.writerows(self.logs)
            
            for strategy_zscore_exit in [0.0, 0.25, 0.5, 0.75, 1.0]:
                for strategy_zscore_entry in [0, 0.25, 0.5, 0.75, 1.0, 1.25, 1.5, 1.75, 2.0, 2.5, 3.0]:
                    if strategy_zscore_entry > strategy_zscore_exit:
            
                        cerebro1 = bt.Cerebro()
                        cerebro1.addstrategy(TStrategy, cheat_on_close=True, entry_zscore = strategy_zscore_entry, exit_zscore = strategy_zscore_exit,\
                                             carry = dict_map[model_Y][3], product = model_Y)
                        
                        cerebro1.broker.setcash(1e12)
                        feed1 = MyData(dataname=dfy.copy(), timeframe=bt.TimeFrame.Minutes)
                        cerebro1.adddata(feed1)
                        cerebro1.broker.set_slippage_fixed(fixed=dict_map[model_Y][5], slip_open=True, slip_limit=True, slip_match=True, slip_out=True)
                        cerebro1.broker.setcommission(margin=0.00001, mult=1)
                        cerebro1.broker.addcommissioninfo(FixedComm(commission=dict_map[model_Y][6]))
                        cerebro1.addanalyzer(bt.analyzers.TradeAnalyzer, _name='trade_analyzer')
                        results1 = cerebro1.run()
                        
                        cerebro2 = bt.Cerebro()
                        cerebro2.addstrategy(TStrategy, cheat_on_close=True, entry_zscore = strategy_zscore_entry, exit_zscore = strategy_zscore_exit,\
                                             carry = dict_map[model_X[0]][3], product = model_X[0])
                        cerebro2.broker.setcash(1e12)
                        feed2 = MyData(dataname=dfx.copy(), timeframe=bt.TimeFrame.Minutes)
                        cerebro2.adddata(feed2)
                        cerebro2.broker.set_slippage_fixed(fixed=dict_map[model_X[0]][5], slip_open=True, slip_limit=True, slip_match=True, slip_out=True)
                        cerebro2.broker.setcommission(margin=0.00001, mult=1)
                        cerebro1.broker.addcommissioninfo(FixedComm(commission=dict_map[model_X[0]][6]))
                        cerebro2.addanalyzer(bt.analyzers.TradeAnalyzer, _name='trade_analyzer')
                        results2 = cerebro2.run()
            
                        if len(model_X) == 2:
                            cerebro3 = bt.Cerebro()
                            cerebro3.addstrategy(TStrategy, cheat_on_close=True, entry_zscore = strategy_zscore_entry, \
                                                 exit_zscore = strategy_zscore_exit,\
                                                 carry = dict_map[model_X[1]][3], product = model_X[1])
                            cerebro3.broker.setcash(1e12)
                            feed3 = MyData(dataname=dfx1.copy(), timeframe=bt.TimeFrame.Minutes)
                            cerebro3.adddata(feed3)
                            cerebro3.broker.set_slippage_fixed(fixed=dict_map[model_X[1]][5], slip_open=True, slip_limit=True, \
                                                               slip_match=True, slip_out=True)
                            cerebro3.broker.setcommission(margin=0.00001, mult=1)
                            cerebro1.broker.addcommissioninfo(FixedComm(commission=dict_map[model_X[1]][6]))
                            cerebro3.addanalyzer(bt.analyzers.TradeAnalyzer, _name='trade_analyzer')
                            results3 = cerebro3.run()
            
                        
                        strat1 = results1[0]
                        dates1, values1 = zip(*strat1.portfolio_values)
                        
                        strat2 = results2[0]
                        dates2, values2 = zip(*strat2.portfolio_values)
            
                        if len(model_X) == 2:
                            strat3 = results3[0]
                            dates3, values3 = zip(*strat3.portfolio_values)
                        
                        # clear_output(wait=False)
                        
                        
                        #############################################################################################################################
                        
                        ############################################### Basic PX based P/L
                        try:
                            dates3, values3 = zip(*strat1.daily_pnl)
                            d3 = pd.DataFrame({ 'CDX':list(values3)}, index = list(dates3))
                            dates3, values3 = zip(*strat2.daily_pnl)
                            d4 = pd.DataFrame({ 'SPX':list(values3)}, index = list(dates3))
                
                            if len(model_X) == 1:
                                d5 = pd.concat([d3,d4],axis=1).dropna().copy()
                                d5['Daily P/L'] = d5['CDX'] + d5['SPX']
                            
                            elif len(model_X) == 2:
                                dates3, values3 = zip(*strat3.daily_pnl)
                                d41 = pd.DataFrame({ 'SPX2':list(values3)}, index = list(dates3))
                                d5 = pd.concat([d3,d4,d41],axis=1).dropna().copy()
                                d5['Daily P/L'] = d5['CDX'] + d5['SPX'] + d5['SPX2']
                
                            d5 = round(d5[['Daily P/L']].astype(float),2)
                            daily_pnl = d5.copy()
                
                            ############################################### Removing Roll basic PX P/L
                            try:
                                dates3, values3 = zip(*strat1.roll_trades)
                                d3 = pd.DataFrame({ 'CDX':list(values3)}, index = list(dates3))
                                dates3, values3 = zip(*strat2.roll_trades)
                                d4 = pd.DataFrame({ 'SPX':list(values3)}, index = list(dates3))
                
                                if len(model_X) == 1:
                                    d5 = pd.concat([d3,d4],axis=1).dropna().copy()
                                    d5['Roll P/L'] = d5['CDX'] + d5['SPX']
                                
                                elif len(model_X) == 2:
                                    dates3, values3 = zip(*strat3.roll_trades)
                                    d41 = pd.DataFrame({ 'SPX2':list(values3)}, index = list(dates3))
                                    d5 = pd.concat([d3,d4,d41],axis=1).dropna().copy()
                                    d5['Roll P/L'] = d5['CDX'] + d5['SPX'] + d5['SPX2']
                
                                d5 = -1*round(d5[['Roll P/L']].astype(float),2)
                                roll_trades = d5.copy()
                            except Exception as e:
                                roll_trades = pd.DataFrame()
                
                            ############################################### Adding all trades carry
                            try:
                                dates3, values3 = zip(*strat1.carry)
                                d3 = pd.DataFrame({ 'CDX':list(values3)}, index = list(dates3))
                                dates3, values3 = zip(*strat2.carry)
                                d4 = pd.DataFrame({ 'SPX':list(values3)}, index = list(dates3))
                
                                if len(model_X) == 1:
                                    d5 = pd.concat([d3,d4],axis=1).dropna().copy()
                                    d5['CDX Carry'] = d5['CDX'] + d5['SPX']
                                    
                                elif len(model_X) == 2:
                                    dates3, values3 = zip(*strat3.carry)
                                    d41 = pd.DataFrame({ 'SPX2':list(values3)}, index = list(dates3))
                                    d5 = pd.concat([d3,d4,d41],axis=1).dropna().copy()
                                    d5['CDX Carry'] = d5['CDX'] + d5['SPX'] + d5['SPX2']
                
                                d5 = round(d5[['CDX Carry']].astype(float),2)
                                carry = d5.copy()
                            except Exception as e:
                                carry = pd.DataFrame()
                            
                            ############################################### Remove carry of roll trades
                            
                            try:
                                dates3, values3 = zip(*strat1.roll_carry)
                                d3 = pd.DataFrame({ 'CDX':list(values3)}, index = list(dates3))
                                dates3, values3 = zip(*strat2.roll_carry)
                                d4 = pd.DataFrame({ 'SPX':list(values3)}, index = list(dates3))
                
                                if len(model_X) == 1:
                                    d5 = pd.concat([d3,d4],axis=1).dropna().copy()
                                    d5['CDX Roll Carry'] = d5['CDX'] + d5['SPX']
                
                                elif len(model_X) == 2:
                                    dates3, values3 = zip(*strat3.roll_carry)
                                    d41 = pd.DataFrame({ 'SPX2':list(values3)}, index = list(dates3))
                                    d5 = pd.concat([d3,d4,d41],axis=1).dropna().copy()
                                    d5['CDX Roll Carry'] = d5['CDX'] + d5['SPX'] + d5['SPX2']
                
                                d5 = -1*round(d5[['CDX Roll Carry']].astype(float),2)
                                roll_carry = d5.copy()
                            except Exception as e:
                                roll_carry = pd.DataFrame()
                
                            ############################################### Add funding of all trades
                            
                            try:
                                dates3, values3 = zip(*strat1.funding)
                                d3 = pd.DataFrame({ 'CDX':list(values3)}, index = list(dates3))
                                dates3, values3 = zip(*strat2.funding)
                                d4 = pd.DataFrame({ 'SPX':list(values3)}, index = list(dates3))
                
                                if len(model_X) == 1:
                                    d5 = pd.concat([d3,d4],axis=1).dropna().copy()
                                    d5['Funding'] = d5['CDX'] + d5['SPX']
                
                                elif len(model_X) == 2:
                                    dates3, values3 = zip(*strat3.funding)
                                    d41 = pd.DataFrame({ 'SPX2':list(values3)}, index = list(dates3))
                                    d5 = pd.concat([d3,d4,d41],axis=1).dropna().copy()
                                    d5['Funding'] = d5['CDX'] + d5['SPX'] + d5['SPX2']
                
                                d5 = round(d5[['Funding']].astype(float),2)
                                funding = d5.copy()
                            except Exception as e:
                                funding = pd.DataFrame()
                                
                            ############################################### Remove funding of carry trades
                            
                            try:
                                dates3, values3 = zip(*strat1.funding_carry)
                                d3 = pd.DataFrame({ 'CDX':list(values3)}, index = list(dates3))
                                dates3, values3 = zip(*strat2.funding_carry)
                                d4 = pd.DataFrame({ 'SPX':list(values3)}, index = list(dates3))
                
                                if len(model_X) == 1:
                                    d5 = pd.concat([d3,d4],axis=1).dropna().copy()
                                    d5['funding_carry'] = d5['CDX'] + d5['SPX']
                
                                elif len(model_X) == 2:
                                    dates3, values3 = zip(*strat3.funding_carry)
                                    d41 = pd.DataFrame({ 'SPX2':list(values3)}, index = list(dates3))
                                    d5 = pd.concat([d3,d4,d41],axis=1).dropna().copy()
                                    d5['funding_carry'] = d5['CDX'] + d5['SPX'] + d5['SPX2']
                
                                d5 = -1*round(d5[['funding_carry']].astype(float),2)
                                funding_carry = d5.copy()
                            except Exception as e:
                                funding_carry = pd.DataFrame()
                
                            #############################################################################################################################
                
                            dates3, values3 = zip(*strat1.trade_direction)
                            long_short_ind = pd.DataFrame({ 'Ind':list(values3)}, index = list(dates3))
                            
                            bt_df = pd.concat([dfy[['volume']], daily_pnl, roll_trades, carry, roll_carry, funding, funding_carry],axis=1)
                            bt_df = bt_df.iloc[:,1:]
                            bt_df = bt_df.fillna(0.0)
    
    
                            ####### Keep commented to adjust for funding; if no funding then remove the hash    
                            ####### these are when want to tally with old model outputs                        
                            # bt_df['Funding'] = [0.0] * len(bt_df)
                            # bt_df['funding_carry'] = [0.0] * len(bt_df)
                            
                            bt_df_backup = bt_df.copy()
                            
                            for trade_btdf_direction in ['Long/Short']: #'Long','Short',
                                bt_df = bt_df_backup.copy()
                                
                                trade_check = None if trade_btdf_direction == 'Long/Short' else trade_btdf_direction
                                
                                bt_df['Sum'] = bt_df.sum(axis=1)
                                x = pd.concat([bt_df, long_short_ind],axis=1).copy()
                                x = x[x['Ind']!=trade_check].drop("Ind",axis=1).copy()   ###### Use not equal operator
                                x = pd.concat([dfy[['volume']],x],axis=1).copy()
                                x = x.iloc[:,1:].fillna(0.0)
                                bt_df = x.copy()
                                trade_num = len(bt_df[bt_df['Sum']!=0])
                                bt_df = bt_df.drop("Sum",axis=1)
                
                
                                ###########################################################################################################################
                
                                sr = bt_df.copy()
                                sr['Sum'] = sr.sum(axis=1)
                                sr = sr[['Sum']]
                                sr = sr.cumsum().resample("D").last().dropna().copy()
                                sr += 10**7
                                sr = sr.pct_change()
                                sr = round((252**0.5*sr.mean()/sr.std()).iloc[0],3)
                                
                                globals()[f'{global_model}_{model_num}_{trade_btdf_direction}_$pnl'].\
                                loc[strategy_zscore_entry,strategy_zscore_exit] = round(bt_df.sum().sum(),0)
                                globals()[f'{global_model}_{model_num}_{trade_btdf_direction}_$pnl/trade'].\
                                loc[strategy_zscore_entry,strategy_zscore_exit] = round(bt_df.sum().sum()/trade_num,0)
                                globals()[f'{global_model}_{model_num}_{trade_btdf_direction}_SR'].\
                                loc[strategy_zscore_entry,strategy_zscore_exit] = round(sr,2)
                                globals()[f'{global_model}_{model_num}_{trade_btdf_direction}_trades'].\
                                loc[strategy_zscore_entry,strategy_zscore_exit] = trade_num
                
                                bt_df['Sum'] = bt_df.sum(axis=1)
                                pos = len(bt_df[bt_df['Sum']>0])
                                neg = len(bt_df[bt_df['Sum']<0])
                                try:
                                    hit = round((pos/(pos+neg))*100,0)
                                except:
                                    hit = 0
                                globals()[f'{global_model}_{model_num}_{trade_btdf_direction}_Hit Ratio'].\
                                loc[strategy_zscore_entry,strategy_zscore_exit] = round(hit,0)
                    
                                max_dd = bt_df[['Sum']].cumsum().copy()
                                max_dd['Roll Max'] = max_dd[['Sum']].rolling(window=10000000, min_periods=1).max()
                                max_dd['Diff'] = abs(max_dd['Roll Max'] - max_dd['Sum'])
                                globals()[f'{global_model}_{model_num}_{trade_btdf_direction}_max DD'].\
                                loc[strategy_zscore_entry,strategy_zscore_exit] = round(-1*max_dd['Diff'].max(),0)
                                
                                ############################### Plots
                                
                                dates3, values3 = zip(*strat1.scatter_plot_trade_pnl)
                                d3 = pd.DataFrame({ 'CDX':list(values3)}, index = list(dates3))
                                dates3, values3 = zip(*strat2.scatter_plot_trade_pnl)
                                d4 = pd.DataFrame({ 'SPX':list(values3)}, index = list(dates3))
                    
                                if len(model_X) == 1:
                                    d5 = pd.concat([d3,d4],axis=1).dropna().copy()
                    
                                elif len(model_X) == 2:
                                    dates3, values3 = zip(*strat3.scatter_plot_trade_pnl)
                                    d41 = pd.DataFrame({ 'SPX2':list(values3)}, index = list(dates3))
                                    d5 = pd.concat([d3,d4,d41],axis=1).dropna().copy()
                                
                                scatter = pd.concat([bt_df[['Sum']],d5['CDX']],axis=1)
                                # scatter = pd.concat([bt_df[['Sum']],d3['CDX']],axis=1)
                                x = scatter[scatter['Sum']!=0.0]['CDX'].copy()
                                bar_size = sampling_multiplier if dict_models[model_num][0] == 'Intraday' else np.nan
                                
                                globals()[f'{global_model}_{model_num}_{trade_btdf_direction}_days/trade'].\
                                loc[strategy_zscore_entry,strategy_zscore_exit] = round(x.sum()/(bar_size*len(x)),1)
                                
                                title = f"{global_model}; Model {dict_models[model_num][-1]}; {strategy_zscore_entry} entry; {trade_btdf_direction} direction"
                                title += f" & {strategy_zscore_exit} exit; P/L: {bt_df[['Sum']].cumsum().iloc[-1,0]:.0f}; SR: {sr:.2f}"
                                title += f" & Diff: {str(diff_period_list)}"
                                
                                dates3, values3 = zip(*strat1.scatter_plot_trade_pnl)
                                d3 = pd.DataFrame({ 'CDX':list(values3)}, index = list(dates3))
                                dates3, values3 = zip(*strat2.scatter_plot_trade_pnl)
                                d4 = pd.DataFrame({ 'SPX':list(values3)}, index = list(dates3))
                                
                                if (model_X) == 1:
                                    d5 = pd.concat([d3,d4],axis=1).dropna().copy()
                    
                                elif len(model_X) == 2:
                                    dates3, values3 = zip(*strat3.scatter_plot_trade_pnl)
                                    d41 = pd.DataFrame({ 'SPX2':list(values3)}, index = list(dates3))
                                    d5 = pd.concat([d3,d4,d41],axis=1).dropna().copy()
                                
                                d5 = d5/bar_size
                                scatter = pd.concat([bt_df[['Sum']],d5['CDX']],axis=1)
                                scatter = scatter[scatter['Sum']!=0.0]
                                plt.figure(figsize=(12,6))
                                plt.scatter(scatter['CDX'], scatter['Sum'],label="Per Trade P/L")
                                plt.ylabel("Trade $P/L")
                                plt.xlabel("Trade Duration in Days")
                                plt.title(title)
                                plt.legend()
                                plt.savefig(f"Plots/Scatter/{title.replace(";","_").replace("/","_").replace("&","_").replace(":","_")}.png")
                                # plt.show()
                                plt.close()
                                 
                                bt_df['Sum'].cumsum().plot(label="Cum. P/L", figsize=(12,6))
                                plt.title(title)
                                plt.legend()
                                plt.savefig(f"Plots/PL/{title.replace(";","_").replace("/","_").replace("&","_").replace(":","_")}.png")
                                # plt.show()
                                plt.close()
                                ############################### Plots
                        except:
                            continue
            
            display(dfx.iloc[[0,-1],:])
            display(f"ZScore Method is {z_score_method} and diff_period_list is {diff_period_list}")
            for trade_btdf_direction in ['Long/Short']: #'Long','Short',
                print(f'global model is {global_model}')
                print(f'model_num is {model_num}')
                print(f'trade direction is {trade_btdf_direction}')
                for info in ['$pnl','$pnl/trade','SR','Hit Ratio','trades','days/trade','max DD']:
                    display(globals()[f'{global_model}_{model_num}_{trade_btdf_direction}_{info}'])

,close,Dur,Signal,Notional,volume,Long Funding P/L,Short Funding P/L
Date,,,,,,,
2021-07-01 09:35:00,88.33,-1.0,0.892492,8.602275e+06,0.0,-0.0,-0.0
2025-04-25 15:35:00,84.70,-1.0,0.906503,7.724284e+06,0.0,0.0,0.0

'ZScore Method is PX and diff_period_list is [1, 2, 3]'

global model is ['CDX HY 5Y', ['HYGH'], 'CDX HY 5Y', ['HYGH'], 7000000]
model_num is 1
trade direction is Long/Short

$pnl        0.00       0.25       0.50       0.75       1.00
Entry
0.25  -6590887.0        NaN        NaN        NaN        NaN
0.50   -551106.0 -5640582.0        NaN        NaN        NaN
0.75    859788.0  -891760.0 -5121362.0        NaN        NaN
1.00   1551920.0   870348.0  -327795.0 -3545478.0        NaN
1.25   1628265.0  1310972.0   796238.0  -118120.0 -3026691.0
1.50   1563432.0  1416077.0  1091146.0   679377.0  -423672.0
1.75   1211616.0  1040748.0   953123.0   913091.0   459145.0
2.00    840143.0   804804.0   774208.0   720600.0   640989.0
2.50    473450.0   506597.0   593663.0   519548.0   482225.0
3.00    184096.0   265402.0   338356.0   300887.0   264588.0

$pnl/trade     0.00     0.25     0.50     0.75     1.00
Entry
0.25       -12160.0      NaN      NaN      NaN      NaN
0.50        -2204.0 -12209.0      NaN      NaN      NaN
0.75         5770.0  -3860.0 -12835.0      NaN      NaN
1.00        15519.0   6495.0  -1698.0 -11011.0      NaN
1.25        22615.0  14250.0   6691.0   -716.0 -11336.0
1.50        33265.0  23601.0  15814.0   7720.0  -3389.0
1.75        34618.0  25384.0  20720.0  15743.0   5886.0
2.00        36528.0  28743.0  24194.0  21194.0  13935.0
2.50        33818.0  28144.0  31245.0  27345.0  21919.0
3.00        23012.0  26540.0  30760.0  27353.0  22049.0

SR     0.00  0.25  0.50  0.75  1.00
Entry
0.25  -3.97   NaN   NaN   NaN   NaN
0.50  -0.48 -3.98   NaN   NaN   NaN
0.75   0.85 -0.84 -4.02   NaN   NaN
1.00   1.54  0.88 -0.34 -3.30   NaN
1.25   1.76  1.44  0.94 -0.13 -3.09
1.50   1.73  1.56  1.30  0.92 -0.60
1.75   1.53  1.38  1.31  1.41  0.72
2.00   1.27  1.27  1.30  1.29  1.10
2.50   0.74  0.80  0.97  0.93  0.85
3.00   0.50  0.61  0.82  0.78  0.70

Hit Ratio  0.00  0.25  0.50  0.75  1.00
Entry
0.25       19.0   NaN   NaN   NaN   NaN
0.50       41.0  20.0   NaN   NaN   NaN
0.75       53.0  37.0  20.0   NaN   NaN
1.00       66.0  54.0  45.0  24.0   NaN
1.25       79.0  72.0  61.0  42.0  21.0
1.50       83.0  83.0  72.0  60.0  37.0
1.75       80.0  78.0  70.0  67.0  53.0
2.00       78.0  79.0  75.0  79.0  67.0
2.50       71.0  67.0  68.0  74.0  64.0
3.00       62.0  60.0  64.0  64.0  58.0

trades   0.00   0.25   0.50   0.75   1.00
Entry
0.25    542.0    NaN    NaN    NaN    NaN
0.50    250.0  462.0    NaN    NaN    NaN
0.75    149.0  231.0  399.0    NaN    NaN
1.00    100.0  134.0  193.0  322.0    NaN
1.25     72.0   92.0  119.0  165.0  267.0
1.50     47.0   60.0   69.0   88.0  125.0
1.75     35.0   41.0   46.0   58.0   78.0
2.00     23.0   28.0   32.0   34.0   46.0
2.50     14.0   18.0   19.0   19.0   22.0
3.00      8.0   10.0   11.0   11.0   12.0

days/trade  0.00  0.25  0.50  0.75  1.00
Entry
0.25         1.2   NaN   NaN   NaN   NaN
0.50         2.1   1.0   NaN   NaN   NaN
0.75         3.0   1.7   0.9   NaN   NaN
1.00         3.6   2.4   1.5   0.7   NaN
1.25         3.8   2.6   1.8   1.1   0.6
1.50         4.1   2.8   2.2   1.5   0.9
1.75         4.2   3.4   2.9   1.9   1.2
2.00         4.1   3.3   3.0   2.5   1.5
2.50         4.6   3.4   3.2   2.8   2.3
3.00         6.0   4.6   4.0   3.7   3.1

max DD       0.00       0.25       0.50       0.75       1.00
Entry
0.25   -6873048.0        NaN        NaN        NaN        NaN
0.50    -950684.0 -5642716.0        NaN        NaN        NaN
0.75    -319847.0 -1062372.0 -5122424.0        NaN        NaN
1.00    -253408.0  -324252.0  -689484.0 -3551203.0        NaN
1.25    -200322.0  -234313.0  -220869.0  -457779.0 -3113827.0
1.50    -196854.0  -208731.0  -227580.0  -312837.0  -742181.0
1.75    -171500.0  -183377.0  -143985.0   -97314.0  -173838.0
2.00     -91340.0   -98822.0   -99177.0  -125413.0  -149124.0
2.50    -158283.0  -172521.0  -115461.0  -127321.0  -122491.0
3.00    -144655.0  -142964.0   -86248.0   -98003.0   -93385.0

,close,Dur,Signal,Notional,volume,Long Funding P/L,Short Funding P/L
Date,,,,,,,
2021-07-01 09:35:00,88.33,-1.0,0.455626,8.602275e+06,0.0,-0.0,-0.0
2025-04-25 15:35:00,84.70,-1.0,-0.100422,7.724284e+06,0.0,0.0,0.0

'ZScore Method is PX and diff_period_list is [1]'

global model is ['CDX HY 5Y', ['HYGH'], 'CDX HY 5Y', ['HYGH'], 7000000]
model_num is 1
trade direction is Long/Short

$pnl         0.00        0.25        0.50        0.75       1.00
Entry
0.25  -15420965.0         NaN         NaN         NaN        NaN
0.50   -7060425.0 -15856653.0         NaN         NaN        NaN
0.75   -3018444.0  -6239583.0 -13340874.0         NaN        NaN
1.00   -1426626.0  -2770232.0  -5228932.0 -10294996.0        NaN
1.25    -372036.0  -1037404.0  -2176769.0  -4466510.0 -8247558.0
1.50     222017.0   -173369.0   -790053.0  -1995568.0 -3544152.0
1.75     208172.0    -43487.0   -414052.0   -878578.0 -1474205.0
2.00     247719.0     90109.0   -111905.0   -239882.0  -493241.0
2.50     286362.0    296239.0    334396.0    196681.0   235603.0
3.00     226535.0    256297.0    213501.0    141777.0   198650.0

$pnl/trade     0.00     0.25     0.50     0.75     1.00
Entry
0.25       -18535.0      NaN      NaN      NaN      NaN
0.50       -13871.0 -18611.0      NaN      NaN      NaN
0.75        -9345.0 -13713.0 -18737.0      NaN      NaN
1.00        -6485.0 -10074.0 -13907.0 -18417.0      NaN
1.25        -2497.0  -5669.0  -9108.0 -13958.0 -17891.0
1.50         2114.0  -1344.0  -4877.0  -9640.0 -12935.0
1.75         2570.0   -448.0  -3569.0  -6557.0  -9100.0
2.00         4061.0   1234.0  -1365.0  -2607.0  -4610.0
2.50         8949.0   8006.0   8574.0   4470.0   4620.0
3.00        12585.0  12815.0  10167.0   6751.0   7357.0

SR     0.00  0.25  0.50  0.75  1.00
Entry
0.25  -0.48   NaN   NaN   NaN   NaN
0.50  -4.68  0.35   NaN   NaN   NaN
0.75  -2.44 -3.82 -0.40   NaN   NaN
1.00  -1.17 -2.12 -3.59 -0.71   NaN
1.25  -0.32 -0.91 -1.85 -3.44 -4.54
1.50   0.23 -0.15 -0.74 -1.86 -3.12
1.75   0.23 -0.03 -0.40 -0.87 -1.50
2.00   0.34  0.12 -0.12 -0.28 -0.59
2.50   0.43  0.42  0.47  0.29  0.35
3.00   0.44  0.46  0.38  0.28  0.37

Hit Ratio  0.00  0.25  0.50  0.75  1.00
Entry
0.25       12.0   NaN   NaN   NaN   NaN
0.50       21.0  11.0   NaN   NaN   NaN
0.75       31.0  21.0  12.0   NaN   NaN
1.00       36.0  30.0  22.0  14.0   NaN
1.25       43.0  40.0  31.0  22.0  15.0
1.50       50.0  46.0  44.0  32.0  24.0
1.75       47.0  49.0  43.0  37.0  32.0
2.00       49.0  51.0  44.0  42.0  37.0
2.50       53.0  57.0  56.0  48.0  47.0
3.00       50.0  55.0  57.0  62.0  56.0

trades   0.00   0.25   0.50   0.75   1.00
Entry
0.25    832.0    NaN    NaN    NaN    NaN
0.50    509.0  852.0    NaN    NaN    NaN
0.75    323.0  455.0  712.0    NaN    NaN
1.00    220.0  275.0  376.0  559.0    NaN
1.25    149.0  183.0  239.0  320.0  461.0
1.50    105.0  129.0  162.0  207.0  274.0
1.75     81.0   97.0  116.0  134.0  162.0
2.00     61.0   73.0   82.0   92.0  107.0
2.50     32.0   37.0   39.0   44.0   51.0
3.00     18.0   20.0   21.0   21.0   27.0

days/trade  0.00  0.25  0.50  0.75  1.00
Entry
0.25         0.8   NaN   NaN   NaN   NaN
0.50         1.2   0.6   NaN   NaN   NaN
0.75         1.6   1.0   0.5   NaN   NaN
1.00         1.9   1.3   0.8   0.5   NaN
1.25         2.3   1.6   1.1   0.7   0.4
1.50         2.6   1.9   1.3   0.9   0.6
1.75         2.6   2.0   1.4   1.1   0.7
2.00         2.7   2.0   1.5   1.2   0.9
2.50         3.0   2.5   2.0   1.6   1.2
3.00         3.6   3.0   2.6   2.4   1.5

max DD        0.00        0.25        0.50        0.75       1.00
Entry
0.25   -15421976.0         NaN         NaN         NaN        NaN
0.50    -7060595.0 -15863168.0         NaN         NaN        NaN
0.75    -3308035.0  -6437262.0 -13355520.0         NaN        NaN
1.00    -1831233.0  -3095002.0  -5244026.0 -10310090.0        NaN
1.25     -814407.0  -1390348.0  -2273093.0  -4466510.0 -8247558.0
1.50     -440676.0   -608941.0   -992814.0  -2134707.0 -3544152.0
1.75     -536449.0   -636937.0   -689182.0  -1093116.0 -1536586.0
2.00     -371676.0   -396866.0   -430797.0   -504033.0  -629140.0
2.50     -191937.0   -240164.0   -264071.0   -237410.0  -233079.0
3.00     -182177.0   -202530.0   -211931.0   -195514.0  -169291.0

,close,Dur,Signal,Notional,volume,Long Funding P/L,Short Funding P/L
Date,,,,,,,
2021-07-01 09:35:00,88.33,-1.0,1.193168,8.602275e+06,0.0,-0.0,-0.0
2025-04-25 15:35:00,84.70,-1.0,0.769129,7.724284e+06,0.0,0.0,0.0

'ZScore Method is PX and diff_period_list is [2]'

global model is ['CDX HY 5Y', ['HYGH'], 'CDX HY 5Y', ['HYGH'], 7000000]
model_num is 1
trade direction is Long/Short

$pnl        0.00       0.25       0.50       0.75       1.00
Entry
0.25  -9275035.0        NaN        NaN        NaN        NaN
0.50  -3182211.0 -9035098.0        NaN        NaN        NaN
0.75   -927802.0 -3282696.0 -8714007.0        NaN        NaN
1.00    173129.0  -799432.0 -2663965.0 -7148241.0        NaN
1.25    805189.0   486169.0  -474474.0 -1411330.0 -3915723.0
1.50   1088268.0   809132.0   268497.0   -31910.0  -910408.0
1.75   1126331.0   903316.0   592406.0   523604.0   228057.0
2.00    684508.0   646632.0   594117.0   487730.0   296684.0
2.50    459285.0   486257.0   462564.0   344070.0   218507.0
3.00    235334.0   208985.0   154804.0   102086.0    44108.0

$pnl/trade     0.00     0.25     0.50     0.75     1.00
Entry
0.25       -17113.0      NaN      NaN      NaN      NaN
0.50       -10433.0 -16427.0      NaN      NaN      NaN
0.75        -4686.0 -10624.0 -17086.0      NaN      NaN
1.00         1264.0  -4208.0 -10168.0 -16939.0      NaN
1.25         9047.0   4380.0  -3365.0  -7313.0 -14035.0
1.50        15772.0  10788.0   2918.0   -290.0  -6457.0
1.75        22527.0  16728.0   9712.0   7700.0   2781.0
2.00        21391.0  19019.0  14853.0  10838.0   5598.0
2.50        19137.0  19450.0  17132.0  12288.0   7284.0
3.00        21394.0  18999.0  12900.0   7853.0   3393.0

SR     0.00  0.25  0.50  0.75  1.00
Entry
0.25  -2.79   NaN   NaN   NaN   NaN
0.50  -2.37 -3.51   NaN   NaN   NaN
0.75  -0.80 -2.61 -3.96   NaN   NaN
1.00   0.18 -0.69 -2.26 -4.57   NaN
1.25   0.80  0.49 -0.45 -1.40 -3.36
1.50   1.11  0.85  0.31 -0.03 -1.04
1.75   1.18  1.04  0.72  0.65  0.29
2.00   0.84  0.87  0.85  0.72  0.44
2.50   0.65  0.73  0.72  0.55  0.38
3.00   0.44  0.39  0.30  0.20  0.10

Hit Ratio  0.00  0.25  0.50  0.75  1.00
Entry
0.25       15.0   NaN   NaN   NaN   NaN
0.50       30.0  15.0   NaN   NaN   NaN
0.75       39.0  24.0  15.0   NaN   NaN
1.00       46.0  35.0  28.0  13.0   NaN
1.25       57.0  47.0  37.0  31.0  20.0
1.50       67.0  55.0  51.0  45.0  34.0
1.75       62.0  57.0  56.0  53.0  46.0
2.00       66.0  68.0  65.0  58.0  49.0
2.50       62.0  68.0  63.0  54.0  53.0
3.00       45.0  55.0  42.0  38.0  38.0

trades   0.00   0.25   0.50   0.75   1.00
Entry
0.25    542.0    NaN    NaN    NaN    NaN
0.50    305.0  550.0    NaN    NaN    NaN
0.75    198.0  309.0  510.0    NaN    NaN
1.00    137.0  190.0  262.0  422.0    NaN
1.25     89.0  111.0  141.0  193.0  279.0
1.50     69.0   75.0   92.0  110.0  141.0
1.75     50.0   54.0   61.0   68.0   82.0
2.00     32.0   34.0   40.0   45.0   53.0
2.50     24.0   25.0   27.0   28.0   30.0
3.00     11.0   11.0   12.0   13.0   13.0

days/trade  0.00  0.25  0.50  0.75  1.00
Entry
0.25         1.3   NaN   NaN   NaN   NaN
0.50         2.0   1.0   NaN   NaN   NaN
0.75         2.7   1.5   0.8   NaN   NaN
1.00         3.2   2.0   1.2   0.6   NaN
1.25         3.8   2.5   1.7   1.1   0.6
1.50         3.7   2.9   2.0   1.4   1.0
1.75         3.8   3.1   2.4   1.9   1.4
2.00         4.6   3.9   2.9   2.3   1.8
2.50         4.3   3.7   3.1   2.6   2.1
3.00         5.7   5.3   4.4   3.8   3.5

max DD       0.00       0.25       0.50       0.75       1.00
Entry
0.25   -9298671.0        NaN        NaN        NaN        NaN
0.50   -3248111.0 -9036161.0        NaN        NaN        NaN
0.75   -1293251.0 -3483090.0 -8755962.0        NaN        NaN
1.00    -409516.0 -1171041.0 -2886474.0 -7212755.0        NaN
1.25    -222449.0  -289494.0  -894364.0 -1688346.0 -4162384.0
1.50    -206930.0  -186811.0  -271707.0  -448667.0 -1210872.0
1.75    -190607.0  -170978.0  -196163.0  -167744.0  -244167.0
2.00    -165850.0  -164401.0  -146591.0  -175177.0  -192276.0
2.50    -146176.0  -136166.0  -105149.0  -177176.0  -176113.0
3.00    -131620.0  -143215.0  -167090.0  -163944.0  -109310.0

,close,Dur,Signal,Notional,volume,Long Funding P/L,Short Funding P/L
Date,,,,,,,
2021-07-01 09:35:00,88.33,-1.0,1.028681,8.602275e+06,0.0,-0.0,-0.0
2025-04-25 15:35:00,84.70,-1.0,2.050801,7.724284e+06,0.0,0.0,0.0

'ZScore Method is PX and diff_period_list is [3]'

global model is ['CDX HY 5Y', ['HYGH'], 'CDX HY 5Y', ['HYGH'], 7000000]
model_num is 1
trade direction is Long/Short

$pnl        0.00       0.25       0.50       0.75       1.00
Entry
0.25  -7191313.0        NaN        NaN        NaN        NaN
0.50  -1582010.0 -6961544.0        NaN        NaN        NaN
0.75    -28972.0 -1840203.0 -6719406.0        NaN        NaN
1.00    509609.0  -256640.0 -1706259.0 -5396983.0        NaN
1.25    832220.0   437764.0   -84143.0 -1065867.0 -3878522.0
1.50   1120349.0   924501.0   615134.0   378787.0  -685413.0
1.75   1152539.0   948467.0   845800.0   792443.0   313331.0
2.00    862504.0   749160.0   666654.0   753897.0   675302.0
2.50    691072.0   551229.0   554265.0   683232.0   669531.0
3.00    365408.0   292289.0   328687.0   431836.0   466252.0

$pnl/trade     0.00     0.25     0.50     0.75     1.00
Entry
0.25       -14797.0      NaN      NaN      NaN      NaN
0.50        -6228.0 -14687.0      NaN      NaN      NaN
0.75         -170.0  -7636.0 -15627.0      NaN      NaN
1.00         4808.0  -1915.0  -8243.0 -14868.0      NaN
1.25        10950.0   4975.0   -725.0  -6233.0 -14207.0
1.50        21139.0  15940.0   7886.0   3788.0  -5003.0
1.75        28813.0  23133.0  16916.0  13431.0   4123.0
2.00        30804.0  25833.0  18518.0  18847.0  14069.0
2.50        43192.0  34452.0  30792.0  34162.0  30433.0
3.00        45676.0  36536.0  32869.0  39258.0  38854.0

SR     0.00  0.25  0.50  0.75  1.00
Entry
0.25  -4.29   NaN   NaN   NaN   NaN
0.50  -1.29 -4.16   NaN   NaN   NaN
0.75  -0.01 -1.68 -4.38   NaN   NaN
1.00   0.53 -0.26 -1.66 -4.23   NaN
1.25   0.88  0.51 -0.08 -1.14 -3.37
1.50   1.20  1.14  0.69  0.46 -0.81
1.75   1.26  1.12  0.94  0.95  0.40
2.00   1.09  1.00  0.87  1.03  0.96
2.50   0.98  0.84  0.81  1.00  1.02
3.00   0.69  0.56  0.59  0.74  0.82

Hit Ratio  0.00  0.25  0.50  0.75  1.00
Entry
0.25       18.0   NaN   NaN   NaN   NaN
0.50       37.0  19.0   NaN   NaN   NaN
0.75       45.0  34.0  17.0   NaN   NaN
1.00       51.0  47.0  31.0  19.0   NaN
1.25       54.0  52.0  49.0  34.0  21.0
1.50       66.0  66.0  54.0  50.0  36.0
1.75       70.0  66.0  64.0  64.0  49.0
2.00       71.0  69.0  67.0  70.0  60.0
2.50       81.0  75.0  61.0  75.0  73.0
3.00       75.0  62.0  60.0  73.0  75.0

trades   0.00   0.25   0.50   0.75   1.00
Entry
0.25    486.0    NaN    NaN    NaN    NaN
0.50    254.0  474.0    NaN    NaN    NaN
0.75    170.0  241.0  430.0    NaN    NaN
1.00    106.0  134.0  207.0  363.0    NaN
1.25     76.0   88.0  116.0  171.0  273.0
1.50     53.0   58.0   78.0  100.0  137.0
1.75     40.0   41.0   50.0   59.0   76.0
2.00     28.0   29.0   36.0   40.0   48.0
2.50     16.0   16.0   18.0   20.0   22.0
3.00      8.0    8.0   10.0   11.0   12.0

days/trade  0.00  0.25  0.50  0.75  1.00
Entry
0.25         1.3   NaN   NaN   NaN   NaN
0.50         2.2   1.0   NaN   NaN   NaN
0.75         2.8   1.7   0.9   NaN   NaN
1.00         3.6   2.5   1.5   0.7   NaN
1.25         3.9   3.0   2.2   1.3   0.7
1.50         4.5   3.7   2.7   1.9   1.2
1.75         4.6   4.2   3.4   2.5   1.7
2.00         5.3   4.9   4.1   3.1   2.2
2.50         5.5   5.2   4.9   4.1   3.3
3.00         7.4   7.0   6.0   5.2   4.5

max DD       0.00       0.25       0.50       0.75       1.00
Entry
0.25   -7471490.0        NaN        NaN        NaN        NaN
0.50   -2026492.0 -7149757.0        NaN        NaN        NaN
0.75    -648078.0 -2189869.0 -6902573.0        NaN        NaN
1.00    -297865.0  -685280.0 -1919755.0 -5398046.0        NaN
1.25    -272489.0  -307597.0  -538985.0 -1337882.0 -4019111.0
1.50    -290789.0  -222599.0  -297109.0  -316931.0 -1032593.0
1.75    -224249.0  -274278.0  -271946.0  -305378.0  -519371.0
2.00    -267415.0  -298364.0  -308053.0  -236438.0  -249454.0
2.50    -188994.0  -235554.0  -242952.0  -239797.0  -246408.0
3.00    -156139.0  -198543.0  -233391.0  -230867.0  -218967.0

,close,Dur,Signal,Notional,volume,Long Funding P/L,Short Funding P/L
Date,,,,,,,
2021-07-01 09:35:00,88.33,-1.0,0.629169,8.602275e+06,0.0,-0.0,-0.0
2025-04-25 15:35:00,84.70,-1.0,1.775358,7.724284e+06,0.0,0.0,0.0

'ZScore Method is PX and diff_period_list is [4]'

global model is ['CDX HY 5Y', ['HYGH'], 'CDX HY 5Y', ['HYGH'], 7000000]
model_num is 1
trade direction is Long/Short

$pnl        0.00       0.25       0.50       0.75       1.00
Entry
0.25  -8012611.0        NaN        NaN        NaN        NaN
0.50  -2380619.0 -7619201.0        NaN        NaN        NaN
0.75   -486350.0 -2372078.0 -6478174.0        NaN        NaN
1.00    474407.0  -134035.0 -1130488.0 -4673719.0        NaN
1.25    940892.0   529395.0   314208.0  -600493.0 -3603316.0
1.50    807396.0   751568.0   702870.0   483991.0  -376891.0
1.75    692904.0   829647.0   739434.0   777746.0   410547.0
2.00    765032.0   821466.0   777070.0   808832.0   568780.0
2.50    550142.0   708709.0   678159.0   691347.0   610266.0
3.00    488480.0   519335.0   471295.0   490148.0   455970.0

$pnl/trade     0.00     0.25     0.50     0.75     1.00
Entry
0.25       -17121.0      NaN      NaN      NaN      NaN
0.50        -9263.0 -15677.0      NaN      NaN      NaN
0.75        -3221.0  -9682.0 -15724.0      NaN      NaN
1.00         4942.0  -1000.0  -6078.0 -13910.0      NaN
1.25        14043.0   6228.0   2756.0  -3639.0 -12869.0
1.50        19693.0  15338.0  10491.0   5261.0  -2944.0
1.75        23893.0  25141.0  18035.0  14141.0   5865.0
2.00        34774.0  35716.0  26796.0  22468.0  12640.0
2.50        36676.0  44294.0  35693.0  30059.0  22602.0
3.00        48848.0  51933.0  39275.0  32677.0  28498.0

SR     0.00  0.25  0.50  0.75  1.00
Entry
0.25  -3.40   NaN   NaN   NaN   NaN
0.50  -1.92 -3.92   NaN   NaN   NaN
0.75  -0.44 -2.25 -4.26   NaN   NaN
1.00   0.47 -0.14 -1.14 -3.78   NaN
1.25   0.96  0.59  0.35 -0.62 -3.17
1.50   0.89  0.85  0.79  0.59 -0.44
1.75   0.79  0.98  0.93  0.93  0.52
2.00   0.87  0.99  1.04  1.04  0.77
2.50   0.84  1.17  1.16  1.15  1.08
3.00   0.94  1.01  0.94  0.88  0.89

Hit Ratio  0.00  0.25  0.50  0.75  1.00
Entry
0.25       13.0   NaN   NaN   NaN   NaN
0.50       30.0  16.0   NaN   NaN   NaN
0.75       41.0  29.0  17.0   NaN   NaN
1.00       52.0  49.0  35.0  18.0   NaN
1.25       61.0  54.0  49.0  38.0  21.0
1.50       71.0  71.0  67.0  59.0  41.0
1.75       69.0  76.0  73.0  67.0  57.0
2.00       82.0  87.0  79.0  72.0  69.0
2.50       80.0  88.0  84.0  78.0  81.0
3.00       80.0  80.0  75.0  73.0  69.0

trades   0.00   0.25   0.50   0.75   1.00
Entry
0.25    468.0    NaN    NaN    NaN    NaN
0.50    257.0  486.0    NaN    NaN    NaN
0.75    151.0  245.0  412.0    NaN    NaN
1.00     96.0  134.0  186.0  336.0    NaN
1.25     67.0   85.0  114.0  165.0  280.0
1.50     41.0   49.0   67.0   92.0  128.0
1.75     29.0   33.0   41.0   55.0   70.0
2.00     22.0   23.0   29.0   36.0   45.0
2.50     15.0   16.0   19.0   23.0   27.0
3.00     10.0   10.0   12.0   15.0   16.0

days/trade  0.00  0.25  0.50  0.75  1.00
Entry
0.25         1.4   NaN   NaN   NaN   NaN
0.50         2.2   1.1   NaN   NaN   NaN
0.75         3.2   1.8   0.9   NaN   NaN
1.00         4.0   2.7   1.7   0.9   NaN
1.25         4.9   3.5   2.3   1.5   0.8
1.50         6.5   4.9   3.1   2.2   1.4
1.75         6.5   5.4   4.0   3.0   2.2
2.00         7.0   6.4   4.7   3.9   2.9
2.50         8.5   7.6   5.8   5.2   4.0
3.00         7.3   6.7   5.0   4.6   4.3

max DD       0.00       0.25       0.50       0.75       1.00
Entry
0.25   -8348390.0        NaN        NaN        NaN        NaN
0.50   -2738352.0 -8002822.0        NaN        NaN        NaN
0.75   -1035853.0 -2775035.0 -6778953.0        NaN        NaN
1.00    -487395.0  -798002.0 -1619986.0 -4910992.0        NaN
1.25    -319159.0  -393915.0  -458399.0 -1217780.0 -3871156.0
1.50    -344264.0  -334430.0  -325043.0  -393235.0  -794012.0
1.75    -351667.0  -260718.0  -286022.0  -269410.0  -328285.0
2.00    -346776.0  -243063.0  -247205.0  -230571.0  -236480.0
2.50    -248146.0  -146795.0  -150870.0  -134290.0  -140227.0
3.00    -108077.0   -78661.0   -69412.0   -87262.0   -98059.0

,close,Dur,Signal,Notional,volume,Long Funding P/L,Short Funding P/L
Date,,,,,,,
2021-07-01 09:35:00,88.33,-1.0,0.806988,8.602275e+06,0.0,-0.0,-0.0
2025-04-25 15:35:00,84.70,-1.0,2.653536,7.724284e+06,0.0,0.0,0.0

'ZScore Method is PX and diff_period_list is [6]'

global model is ['CDX HY 5Y', ['HYGH'], 'CDX HY 5Y', ['HYGH'], 7000000]
model_num is 1
trade direction is Long/Short

$pnl        0.00       0.25       0.50       0.75       1.00
Entry
0.25  -3570988.0        NaN        NaN        NaN        NaN
0.50    -85522.0 -3560410.0        NaN        NaN        NaN
0.75    663545.0  -322538.0 -4194213.0        NaN        NaN
1.00    991176.0   854880.0  -369633.0 -3501500.0        NaN
1.25    826262.0   975886.0   590753.0  -194650.0 -2003337.0
1.50    442811.0   703480.0   494866.0   250151.0  -185867.0
1.75    514526.0   673969.0   617972.0   551314.0   259836.0
2.00    398490.0   546900.0   532874.0   682101.0   451748.0
2.50    199539.0   275376.0   213648.0   343934.0   181034.0
3.00    522952.0   556330.0   527472.0   568665.0   446720.0

$pnl/trade     0.00     0.25     0.50     0.75     1.00
Entry
0.25       -10381.0      NaN      NaN      NaN      NaN
0.50         -531.0 -11635.0      NaN      NaN      NaN
0.75         7135.0  -2165.0 -13400.0      NaN      NaN
1.00        16520.0   9394.0  -2659.0 -13467.0      NaN
1.25        18361.0  17121.0   8320.0  -1927.0 -11580.0
1.50        15269.0  20691.0  12689.0   4548.0  -2383.0
1.75        22371.0  25922.0  19935.0  13447.0   4997.0
2.00        24906.0  30383.0  26644.0  25263.0  14573.0
2.50        19954.0  27538.0  21365.0  24567.0  12931.0
3.00        65369.0  69541.0  65934.0  63185.0  49636.0

SR     0.00  0.25  0.50  0.75  1.00
Entry
0.25  -2.26   NaN   NaN   NaN   NaN
0.50  -0.04 -2.51   NaN   NaN   NaN
0.75   0.54 -0.25 -2.94   NaN   NaN
1.00   0.82  0.77 -0.32 -2.86   NaN
1.25   0.74  0.96  0.62 -0.24 -2.24
1.50   0.46  0.77  0.57  0.38 -0.29
1.75   0.62  0.84  0.77  0.92  0.50
2.00   0.51  0.72  0.68  1.23  0.95
2.50   0.25  0.36  0.27  0.70  0.47
3.00   0.63  0.71  0.67  1.12  1.03

Hit Ratio  0.00  0.25  0.50  0.75  1.00
Entry
0.25       24.0   NaN   NaN   NaN   NaN
0.50       47.0  25.0   NaN   NaN   NaN
0.75       59.0  45.0  18.0   NaN   NaN
1.00       65.0  66.0  38.0  19.0   NaN
1.25       71.0  67.0  61.0  41.0  21.0
1.50       69.0  65.0  67.0  55.0  41.0
1.75       78.0  73.0  74.0  68.0  58.0
2.00       81.0  78.0  75.0  70.0  71.0
2.50       70.0  70.0  60.0  57.0  50.0
3.00       75.0  75.0  75.0  78.0  78.0

trades   0.00   0.25   0.50   0.75   1.00
Entry
0.25    344.0    NaN    NaN    NaN    NaN
0.50    161.0  306.0    NaN    NaN    NaN
0.75     93.0  149.0  313.0    NaN    NaN
1.00     60.0   91.0  139.0  260.0    NaN
1.25     45.0   57.0   71.0  101.0  173.0
1.50     29.0   34.0   39.0   55.0   78.0
1.75     23.0   26.0   31.0   41.0   52.0
2.00     16.0   18.0   20.0   27.0   31.0
2.50     10.0   10.0   10.0   14.0   14.0
3.00      8.0    8.0    8.0    9.0    9.0

days/trade  0.00  0.25  0.50  0.75  1.00
Entry
0.25         1.8   NaN   NaN   NaN   NaN
0.50         3.4   1.7   NaN   NaN   NaN
0.75         5.0   3.0   1.3   NaN   NaN
1.00         6.4   4.0   2.2   1.1   NaN
1.25         6.9   4.8   3.4   2.3   1.2
1.50         8.4   6.4   5.1   3.6   2.3
1.75         9.3   7.5   5.9   4.4   3.1
2.00        11.4   9.3   7.8   5.7   4.4
2.50        15.1  13.0  12.2   8.5   7.2
3.00        16.8  14.7  14.1   9.8   8.6

max DD       0.00       0.25       0.50       0.75       1.00
Entry
0.25   -4039443.0        NaN        NaN        NaN        NaN
0.50    -758787.0 -3948329.0        NaN        NaN        NaN
0.75    -356950.0  -805439.0 -4535572.0        NaN        NaN
1.00    -267755.0  -309290.0  -803624.0 -3837091.0        NaN
1.25    -271644.0  -237812.0  -346467.0  -849733.0 -2345743.0
1.50    -350287.0  -308076.0  -345254.0  -426547.0  -534099.0
1.75    -381988.0  -304290.0  -334433.0  -314905.0  -290526.0
2.00    -342310.0  -264637.0  -314288.0  -193864.0  -186160.0
2.50    -409869.0  -363291.0  -386932.0  -219414.0  -182292.0
3.00    -290655.0  -223817.0  -252005.0   -70913.0   -73942.0

,close,Dur,Signal,Notional,volume,Long Funding P/L,Short Funding P/L
Date,,,,,,,
2021-07-01 09:35:00,88.33,-1.0,0.448911,8.602275e+06,0.0,-0.0,-0.0
2025-04-25 15:35:00,84.70,-1.0,2.331766,7.724284e+06,0.0,0.0,0.0

'ZScore Method is PX and diff_period_list is [8]'

global model is ['CDX HY 5Y', ['HYGH'], 'CDX HY 5Y', ['HYGH'], 7000000]
model_num is 1
trade direction is Long/Short

$pnl        0.00       0.25       0.50       0.75       1.00
Entry
0.25  -3473082.0        NaN        NaN        NaN        NaN
0.50    -44006.0 -3219461.0        NaN        NaN        NaN
0.75    602029.0  -384505.0 -3590435.0        NaN        NaN
1.00   1398498.0   974947.0    -1885.0 -2374702.0        NaN
1.25   1239537.0   991792.0   591136.0  -138039.0 -1997439.0
1.50   1059948.0   859346.0   680462.0   265711.0  -338474.0
1.75    534909.0   464839.0   467220.0   224517.0    -2403.0
2.00    362867.0   234765.0   284595.0    13630.0    63490.0
2.50    749850.0   506093.0   481108.0   348735.0   439295.0
3.00    509849.0   286173.0   241330.0   175149.0   248288.0

$pnl/trade     0.00     0.25     0.50     0.75     1.00
Entry
0.25       -12493.0      NaN      NaN      NaN      NaN
0.50         -303.0 -11140.0      NaN      NaN      NaN
0.75         7253.0  -2891.0 -12510.0      NaN      NaN
1.00        22926.0  11607.0    -14.0 -10554.0      NaN
1.25        30988.0  18713.0   8098.0  -1353.0 -10681.0
1.50        37855.0  25275.0  15465.0   4662.0  -3640.0
1.75        28153.0  21129.0  16111.0   5908.0    -42.0
2.00        25919.0  14673.0  14979.0    545.0   1924.0
2.50        57681.0  38930.0  30069.0  19374.0  19968.0
3.00        56650.0  31797.0  26814.0  17515.0  22572.0

SR     0.00  0.25  0.50  0.75  1.00
Entry
0.25  -2.66   NaN   NaN   NaN   NaN
0.50  -0.03 -2.56   NaN   NaN   NaN
0.75   0.62 -0.36 -3.03   NaN   NaN
1.00   1.33  0.96  0.01 -2.38   NaN
1.25   1.29  1.06  0.70 -0.18 -2.13
1.50   1.13  0.97  0.86  0.40 -0.41
1.75   0.66  0.58  0.62  0.39  0.00
2.00   0.49  0.35  0.43  0.03  0.12
2.50   0.82  0.66  0.66  0.64  0.73
3.00   0.71  0.53  0.48  0.48  0.59

Hit Ratio  0.00  0.25  0.50  0.75  1.00
Entry
0.25       24.0   NaN   NaN   NaN   NaN
0.50       42.0  24.0   NaN   NaN   NaN
0.75       65.0  42.0  21.0   NaN   NaN
1.00       75.0  60.0  47.0  24.0   NaN
1.25       78.0  68.0  59.0  50.0  26.0
1.50       79.0  68.0  73.0  61.0  42.0
1.75       58.0  55.0  69.0  66.0  51.0
2.00       64.0  62.0  74.0  56.0  55.0
2.50       77.0  77.0  75.0  67.0  68.0
3.00       67.0  67.0  67.0  70.0  55.0

trades   0.00   0.25   0.50   0.75   1.00
Entry
0.25    278.0    NaN    NaN    NaN    NaN
0.50    145.0  289.0    NaN    NaN    NaN
0.75     83.0  133.0  287.0    NaN    NaN
1.00     61.0   84.0  138.0  225.0    NaN
1.25     40.0   53.0   73.0  102.0  187.0
1.50     28.0   34.0   44.0   57.0   93.0
1.75     19.0   22.0   29.0   38.0   57.0
2.00     14.0   16.0   19.0   25.0   33.0
2.50     13.0   13.0   16.0   18.0   22.0
3.00      9.0    9.0    9.0   10.0   11.0

days/trade  0.00  0.25  0.50  0.75  1.00
Entry
0.25         2.1   NaN   NaN   NaN   NaN
0.50         3.5   1.7   NaN   NaN   NaN
0.75         5.1   3.1   1.4   NaN   NaN
1.00         6.7   4.7   2.4   1.3   NaN
1.25         8.1   5.9   3.8   2.4   1.3
1.50         9.8   7.4   5.3   3.7   2.2
1.75        12.1  10.1   7.1   4.8   3.1
2.00        13.9  12.1   9.7   6.1   4.5
2.50        13.1  12.8   9.9   6.9   5.4
3.00        12.1  11.7  11.3   7.3   6.2

max DD       0.00       0.25       0.50       0.75       1.00
Entry
0.25   -3963808.0        NaN        NaN        NaN        NaN
0.50    -728185.0 -3648926.0        NaN        NaN        NaN
0.75    -261517.0 -1039782.0 -3968207.0        NaN        NaN
1.00    -226566.0  -272937.0  -557144.0 -2750250.0        NaN
1.25    -213228.0  -270557.0  -415887.0  -688634.0 -2223822.0
1.50    -182195.0  -339938.0  -398327.0  -434696.0  -908332.0
1.75    -402521.0  -450692.0  -459657.0  -420479.0  -599238.0
2.00    -422719.0  -445184.0  -414947.0  -412441.0  -478626.0
2.50    -280438.0  -309386.0  -289877.0  -222883.0  -260393.0
3.00    -180812.0  -207985.0  -200373.0  -124616.0  -129179.0

,close,Dur,Signal,Notional,volume,Long Funding P/L,Short Funding P/L
Date,,,,,,,
2021-07-01 09:35:00,88.33,-1.0,0.101462,8.602275e+06,0.0,-0.0,-0.0
2025-04-25 15:35:00,84.70,-1.0,1.778010,7.724284e+06,0.0,0.0,0.0

'ZScore Method is PX and diff_period_list is [12]'

global model is ['CDX HY 5Y', ['HYGH'], 'CDX HY 5Y', ['HYGH'], 7000000]
model_num is 1
trade direction is Long/Short

$pnl        0.00       0.25       0.50       0.75       1.00
Entry
0.25  -2165712.0        NaN        NaN        NaN        NaN
0.50   -486083.0 -2726397.0        NaN        NaN        NaN
0.75    314460.0  -396972.0 -2816249.0        NaN        NaN
1.00    652872.0   437996.0  -123547.0 -2167703.0        NaN
1.25    710182.0   638714.0   575902.0    58296.0 -1740925.0
1.50    432287.0   361570.0   460990.0   588351.0   118194.0
1.75    627105.0   616823.0   603536.0   572725.0   347175.0
2.00    536788.0   498079.0   528029.0   592270.0   531416.0
2.50    506447.0   450723.0   392045.0   522211.0   618388.0
3.00    546044.0   472418.0   422562.0   416347.0   446076.0

$pnl/trade     0.00     0.25     0.50     0.75     1.00
Entry
0.25       -13452.0      NaN      NaN      NaN      NaN
0.50        -5587.0 -12983.0      NaN      NaN      NaN
0.75         5615.0  -3970.0 -12629.0      NaN      NaN
1.00        15924.0   7552.0  -1223.0 -10372.0      NaN
1.25        21521.0  15578.0   9141.0    620.0  -9948.0
1.50        20585.0  15720.0  13559.0  12790.0   1496.0
1.75        36889.0  34268.0  26241.0  19749.0   7890.0
2.00        41291.0  35577.0  29335.0  25751.0  17714.0
2.50        72350.0  56340.0  43561.0  47474.0  41226.0
3.00        78006.0  59052.0  46951.0  46261.0  44608.0

SR     0.00  0.25  0.50  0.75  1.00
Entry
0.25  -1.72   NaN   NaN   NaN   NaN
0.50  -0.42 -2.37   NaN   NaN   NaN
0.75   0.30 -0.40 -2.36   NaN   NaN
1.00   0.60  0.50 -0.11 -1.95   NaN
1.25   0.67  0.75  0.61  0.08 -1.95
1.50   0.45  0.44  0.52  0.73  0.17
1.75   0.74  0.75  0.78  0.81  0.52
2.00   0.65  0.65  0.74  0.86  0.84
2.50   0.65  0.61  0.55  0.71  0.90
3.00   0.87  0.81  0.73  0.74  0.87

Hit Ratio  0.00  0.25  0.50  0.75  1.00
Entry
0.25       29.0   NaN   NaN   NaN   NaN
0.50       45.0  25.0   NaN   NaN   NaN
0.75       61.0  44.0  22.0   NaN   NaN
1.00       68.0  66.0  50.0  25.0   NaN
1.25       70.0  71.0  57.0  48.0  27.0
1.50       62.0  61.0  59.0  54.0  48.0
1.75       71.0  72.0  65.0  55.0  55.0
2.00       62.0  71.0  67.0  57.0  63.0
2.50       71.0  62.0  56.0  64.0  73.0
3.00       71.0  62.0  56.0  67.0  70.0

trades   0.00   0.25   0.50   0.75   1.00
Entry
0.25    161.0    NaN    NaN    NaN    NaN
0.50     87.0  210.0    NaN    NaN    NaN
0.75     56.0  100.0  223.0    NaN    NaN
1.00     41.0   58.0  101.0  209.0    NaN
1.25     33.0   41.0   63.0   94.0  175.0
1.50     21.0   23.0   34.0   46.0   79.0
1.75     17.0   18.0   23.0   29.0   44.0
2.00     13.0   14.0   18.0   23.0   30.0
2.50      7.0    8.0    9.0   11.0   15.0
3.00      7.0    8.0    9.0    9.0   10.0

days/trade  0.00  0.25  0.50  0.75  1.00
Entry
0.25         3.0   NaN   NaN   NaN   NaN
0.50         4.7   1.9   NaN   NaN   NaN
0.75         6.5   3.4   1.6   NaN   NaN
1.00         9.7   5.5   3.3   1.4   NaN
1.25        10.1   6.2   4.4   2.6   1.2
1.50        11.1   8.7   6.4   4.3   2.3
1.75        11.3   9.2   8.0   5.6   3.5
2.00        14.0  11.3   9.8   6.3   4.3
2.50        17.9  12.7  14.1  11.0   6.6
3.00        21.1  15.3  16.3  13.6   8.6

max DD       0.00       0.25       0.50       0.75       1.00
Entry
0.25   -2544069.0        NaN        NaN        NaN        NaN
0.50    -980406.0 -3033041.0        NaN        NaN        NaN
0.75    -584184.0  -916281.0 -3276345.0        NaN        NaN
1.00    -547343.0  -500472.0  -867473.0 -2505754.0        NaN
1.25    -494801.0  -434151.0  -451193.0  -464150.0 -2047659.0
1.50    -477308.0  -391673.0  -398578.0  -196634.0  -398029.0
1.75    -186250.0  -226435.0  -187972.0  -162176.0  -277541.0
2.00    -140591.0  -181121.0  -106688.0  -122490.0  -139887.0
2.50    -180946.0  -211891.0  -237477.0  -186662.0  -121048.0
3.00    -121554.0  -144718.0  -180081.0  -159491.0  -127336.0